[2013-03-25 19:57] farirat opened #1 "Add, start, remove, add the same, start: an error is generated"

[2013-03-25 20:00] farirat opened #2 "Send sms-mt through http interface"
- Test or die (RouterPB)
- Test or die (http protocol)
- Authentication in the RouterPB
- Routing MT / change the router to be a PB and not an amqp consumer
  - # Routing politics:
  - 1. RoutingTable contain one or many Routes
  - 2. Route contain a couple of [Filter(s), Connector]
  - 3. Filter will .match() a Routable against a filter and return true/false
  - 4. Routable represents a PDU and o

[2013-03-25 20:01] farirat opened #3 "Receive sms-mo through smpp connector"
- switch to topic queuing for deliver
  - Routing MO

[2013-03-25 20:18] #2 closed, assigned to farirat

[2013-03-25 20:21] farirat opened #4 "Start/stop looping: no unbind were sent to the smsc"
This issue were open as reported by a user, there were no logs or any other information provided.

[2013-03-25 20:22] farirat opened #5 "Iterating through start/stop connector leads to error (to verify)"

[2013-03-25 20:23] farirat opened #6 "Handle disconnection of amqp broker while queues are consumed"
AMQP consumers must reconnect when the broker goes down and up.

[2013-03-25 20:24] farirat opened #7 "Fix the data_coding in SMPPClientConfig and check for the types of data_coding one can set"

[2013-03-25 20:24] zoufou opened #8 "Provide a status API through the SMPPClientManagerPB"

[2013-03-25 20:25] farirat opened #9 "Enable Authentification for SMPPClientManagerPB (Management api should be authenticated)"

[2013-03-25 20:26] farirat opened #10 "Separate messaging api from management api"

[2013-03-25 20:27] #10 closed, assigned to farirat

[2013-03-25 20:28] farirat opened #11 "Provide documentation for HTTP API"

[2013-03-25 20:28] farirat opened #12 "Provide architecture&design documentation"

[2013-03-25 20:29] farirat opened #13 "Make load-balanced connector grouping"

[2013-03-25 20:30] farirat opened #14 "When receiving a long deliver_sm which is not fragmented, the connection shall be marked as corrupt"

[2013-03-25 20:31] farirat opened #15 "Send long sms-mt as fragmented messages"

[2013-03-25 20:31] #15 closed, assigned to farirat

[2013-03-25 20:33] farirat opened #16 "Package jasmin the right way"
A simple starting-point to look for: http://www.petehunt.net/blog/?p=37

[2013-07-15 21:12] farirat opened #17 "Advanced profile management in sending sms-mt (through http or smpp)"
- Requesting a DLR must be a privilege given or revoked to/from a user
- Prepaid quota per message count (submit_sm)
- Prepaid quota per message cost (submit_sm)
- Fixed originating address
- Free originating address or a pool of addresses with one default

[2013-07-15 23:53] #11 closed, assigned to farirat

[2013-07-17 22:42] #3 closed, assigned to farirat

[2013-07-17 22:45] farirat opened #18 "(http) Send MT with DLR request"
- DLR must be sent back through a http-callback
- Multilevel DLR flags
- Update documentation
- Requesting a DLR must be a privilege given or revoked to/from a user
- Throwing back DLRs can be set to a specific throughput

[2013-08-27 21:50] farirat opened #19 "Apply QoS on SMS-MO delivery"

[2013-08-27 21:53] farirat opened #20 "Handle variation of message_id when playing with DLR"
The number base the SMSC is using for the message ID numbers in the corresponding submit_sm_resp and deliver_sm PDUs can be different (hex / dec).

listeners.deliver_sm_callback() must read the right number whatever number base is used by the SMSC

[2013-10-30 21:20] farirat opened #21 "Remove and re-add a connector will cause an exception"
When a connector is already created, removing and re-adding will throw the following exception:

2013-10-30 22:17:10+0100 [AmqpProtocol,client] Unhandled Error
    Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/twisted/internet/defer.py", line 422, in errback
        self._startRunCallbacks(fail)
      File "/usr/lib/python2.7/dist-packages/twisted/internet/defer.p

[2013-11-03 01:03] #18 closed, assigned to farirat

[2013-11-03 01:06] farirat opened #22 "Throttling DLR throwing"
Throwing back DLRs to dlr-url can be set to a specific throughput

Can be configured per connector or for all (wide scope)

[2013-11-03 01:09] farirat opened #23 "Possibility of sending UTF16 and unicode SMS through http-api"
Using the http-api, the coding (and maybe charset) must be provided for enabling UTF16 and unicode.

[2013-11-03 01:11] farirat opened #24 "Verify behaviour when msgid is differently coded between submit_sm_resp and deliver_sm (dlr)"

[2013-11-03 22:46] farirat opened #25 "Start Jasmin as a service and preload user-configuration"

[2013-12-08 22:50] #6 closed, assigned to farirat

[2013-12-11 21:43] #23 closed, assigned to farirat

[2013-12-11 21:43] #7 closed, assigned to farirat

[2013-12-11 21:44] farirat opened #26 "Concatenate SMS-MOs before sending through http"

[2013-12-11 22:02] #26 closed, assigned to farirat

[2013-12-17 21:30] farirat opened #27 "Incorrect logging of long SMS-MT"
Sending a long sms will get the logger to log only the first part of the sms

[2013-12-17 21:31] farirat opened #28 "SMPP client's logging does not work correctly with multiple connectors"
When having two connectors with two different log files, it appears that jasmin writes the same data to both files

[2013-12-17 21:33] farirat opened #29 "Double logging of SMS-MT"
Sending an SMS in test-smgs result in double line in messages.log with SMS-MT

[2013-12-18 20:05] #4 closed, assigned to farirat

[2013-12-18 20:28] #21 closed, assigned to farirat

[2013-12-22 00:05] #27 closed, assigned to farirat

[2013-12-22 00:06] #5 closed, assigned to farirat

[2013-12-22 00:06] #1 closed, assigned to farirat

[2013-12-22 17:48] #28 closed, assigned to farirat

[2013-12-22 17:48] #29 closed, assigned to farirat

[2013-12-22 18:24] #13 closed, assigned to farirat

[2013-12-22 18:24] #24 closed, assigned to farirat

[2013-12-22 18:39] farirat opened #32 "Provide cli interface for smpp client management"

[2013-12-22 18:40] farirat opened #33 "Provide cli interface for user/group management"

[2013-12-22 18:41] farirat opened #34 "Provide cli interface for routing management"

[2013-12-22 18:41] farirat opened #35 "Provide cli interface with persistence of configuration"

[2013-12-22 18:42] farirat opened #36 "Document cli interface"
- Usage
- Feature tree
- Comparative matrix (cli vs. PB): all cli commands must be runnable through PB api

[2013-12-22 18:42] farirat opened #37 "Document routing and sms delivery (MO and MT)"

[2014-09-05 23:53] #37 closed, assigned to farirat

[2014-09-05 23:53] #36 closed, assigned to farirat

[2014-09-05 23:53] #35 closed, assigned to farirat

[2014-09-05 23:53] #32 closed, assigned to farirat

[2014-09-05 23:53] #12 closed, assigned to farirat

[2014-09-05 23:53] #25 closed, assigned to farirat

[2014-09-05 23:54] #9 closed, assigned to farirat

[2014-09-05 23:54] #34 closed, assigned to farirat

[2014-09-05 23:54] #33 closed, assigned to farirat

[2014-09-11 10:36] pyghassen opened #40 "Failure to install jasmin from pip"
I wanted to install jasmin from pip and I got the following error:

$ sudo pip2 install jasmin
Downloading/unpacking jasmin
  Could not find a version that satisfies the requirement jasmin (from versions: 0.4.0-alpha)
Cleaning up...
No distributions matching the version for jasmin
Storing debug log for failure in /home/user/.pip/pip.log

[2014-09-13 01:10] #40 closed, assigned to nobody

[2014-09-13 01:10] #16 closed, assigned to farirat

[2014-09-13 01:14] farirat opened #45 "Implement advanced user management"
Provide possibilities to:
- Fix user/group privileges to (send / receive / set dlr_level / set priority / set source_addr)
- Fix user/group quotas (in number of submit_sm, and check if it is possible to implement a billing based quotas)

[2014-10-08 15:19] #17 closed, assigned to farirat

[2014-10-08 15:19] #45 closed, assigned to farirat

[2014-10-08 15:21] zoufou opened #48 "Provide a status API for users and routes through RouterPB"

[2014-10-08 15:23] fourat opened #49 "Implement SMPP Server API"

[2014-10-08 15:29] farirat opened #50 "User account must have an expiration property"

[2014-10-08 15:30] fourat opened #51 "User account must have a QoS setting to limit his throughput through HTTP and SMPP APIs"

[2014-10-08 15:30] zoufou opened #52 "Group must have an expiration property (to be confirmed)"

[2014-10-08 15:53] #20 closed, assigned to nobody

[2014-10-08 16:50] pyghassen opened #53 "Python 3 support"
When python 3 support is planned?

[2014-10-08 17:05] #53 closed, assigned to nobody

[2014-10-08 21:40] farirat opened #54 "/etc/init.d/jasmind start is not working"
**jasmind** is copied to **/usr/local/bin/jasmind.py** by setuptools, the _which jasmind_ command inside /etc/init.d/jasmind script will never return the correct jasmind.py path.

[2014-10-09 02:14] #54 closed, assigned to farirat

[2014-10-09 17:54] zoufou opened #60 "Implement SUBMIT_SM retrial on specific/configurable errors received in SUBMIT_SM_RESP"
Actually, Jasmin will drop any error received through a SUBMIT_SM_RESP pdu, there's some errors that may need to imply requeuing the SUBMIT_SM for later sending, for example, when receiving a ESME_RTHROTTLED status, the SUBMIT_SM will be sent again in 2 minutes.

**Parameters:**
* Concerned errors must be configured in SMPP Client connector scope
* A configured error may have the following config:

[2014-10-10 09:36] pyghassen opened #61 "Archittecture illustration could be designed better"
Do you mind if I redesigned the Architecture illustration using inkscape?
It will look much better and appealing to the eye.
I will send you some samples until you approve one.

[2014-10-15 14:31] ivanrvpereira opened #62 "submit.sm.resp.CONNECTOR is not consumed"
Hi,

I'm a django developer and new to this promising project. And also new to smpp protocol world.

I started using jasmin today for sms marketing purposes, and now i'm already able to send messages through clickatell smpp using jasmin. But i only got this message status `message_status=ESME_ROK`. I think this status tells me that message arrived clickatell smsc, but i want also the delivery stat

[2014-10-19 20:56] farirat opened #64 "SMPP Client connector 'system_type' must be of type string for Clickatell's api"
As reported by balsagoth in #62, Clickatell SMPP server doesnt accept system_type when saved in a string variable.

To be confirmed and fixed.

[2014-10-19 20:59] fourat opened #65 "Implement NetworkErrorCodeEncoder() in SMPP protocol"
As reported in #62

[2014-10-19 21:00] fourat opened #66 "Publishing submit_sm_resp must be optional"
As reported in #62, there's no reason to get the queue growing when there's no consumers on it.

[2014-10-19 21:02] #62 closed, assigned to nobody

[2014-10-19 22:35] #64 closed, assigned to farirat

[2014-10-20 17:24] farirat opened #67 "Unpredicted behaviour of SMPPClientSMListener.submit_sm_callback when consuming already existent or rejected messages"
**Steps to reproduce:**
- Create a SMPP Connector and keep it stopped
- Provision the necessary routings to deliver messages through the stopped connector
- Send many messages (200) through HTTP (messages will be queued)
- Once sending completed, start the connector, messages will not get delivered

[2014-10-20 20:52] farirat opened #68 "SMPP Client connector restarting issue after updating a config key requiring restart"
When updating one of the keys in **RequireRestartKeys** the connector is normally started but stays in incorrect state _BIND_TRX_PENDING_.

[2014-10-21 19:27] #68 closed, assigned to farirat

[2014-10-27 21:37] pyghassen opened #69 "Missing RESTful API"
I just checked the documentation for the HTTP API, and I found out that is more RPC style than Resource oriented.

[2014-11-04 18:24] farirat opened #70 "DLR parsing not working with clickatell smpp connector"
Example of deliver_sm content:

[code]

[2014-11-04 18:31] farirat opened #71 "Incorrect http parameters when throwing a level1 delivery receipt"
When received a submit_sm_resp for a sent message with dlr-level=3, the following url were called:

[code]

Notes:
- **level** must be 1, since it is a first level receipt (smsc received the message)
- **id_smsc** must be defined
- Why the other parameters are present ? (remove unused params ?)

[2014-11-11 20:30] #67 closed, assigned to farirat

[2014-11-16 22:04] #70 closed, assigned to farirat

[2014-11-16 23:00] #71 closed, assigned to farirat

[2014-11-25 18:08] zoufou opened #77 "Add statistics for httpapi connections in user object"
HTTP connection count and last activity time must be added in user level and displayed through jcli

[2014-11-27 19:39] zoufou opened #78 "Automate deb and rpm packaging"

[2014-11-28 05:39] sah-anshu opened #79 "Working with configuration files beside cli"
Hi

I can see cli is creating some encrypted file in /etc/jasmin but it would be better if there shall be some provision to pick from conf files.

kindly advice if there is something like this currently.

Rgd
Anshu

[2014-12-01 13:25] autodeskcollege opened #80 "Is Jamin Standalone Platform to Send SMS?"
Is Jamin Standalone Platform to Send SMS?

Regards
Omare M.A.

[2014-12-01 13:26] autodeskcollege opened #81 "Suggest Best OS Platform for jasmin..."
Suggest Best OS Platform for jasmin
to Install & work smoothly...

Best Regards
Omare M.A.

[2014-12-01 13:44] autodeskcollege opened #82 "Can We Install Jasmin on Linux using VMWare ?"
Can We Install Jasmin on Linux using VMWare ?

[2014-12-02 03:17] #82 closed, assigned to nobody

[2014-12-02 03:23] #81 closed, assigned to nobody

[2014-12-02 03:24] #80 closed, assigned to nobody

[2014-12-02 13:57] autodeskcollege opened #83 "sudo pip install jasmin"
While running this Command

sudo pip install jasmin

it Gives Following Errors,

c/_cffi_backend.c:3396: error: ‘ffi_type_uint8’ undeclared (first use in this function)
    c/_cffi_backend.c:3397: error: ‘ffi_type_uint16’ undeclared (first use in this function)
    c/_cffi_backend.c:3398: error: ‘ffi_type_uint32’ undeclared (first use in this function)
    c/_cffi_backend.c:3399: error: ‘ffi_type_

[2014-12-10 18:21] hmmatos opened #84 "Throughput"
what is the maximum SMS send per second?

[2014-12-10 21:13] #84 closed, assigned to nobody

[2014-12-11 19:58] #83 closed, assigned to nobody

[2015-01-01 16:17] autodeskcollege opened #85 "Suggest Hosting Website for JasminSMS"
Kindly, Suggest Best Hosting Website for JasminSMS ?

[2015-01-02 19:59] tarikogut commented on #69
im adding json api thanks :)

[2015-01-02 20:54] fourat commented on #69
Where are you doing it ? any design you're using ?

[2015-01-02 20:55] fourat commented on #85
There's one already: http://www.jasminsms.com

[2015-01-02 22:54] tarikogut commented on #69
im programing sorry i little speak eng

2015-01-02 22:54 GMT+02:00 Fourat ZOUARI <notifications@github.com>:

[2015-01-02 23:07] tarikogut commented on #69
i f you accept i can join your team :)

[2015-01-02 23:25] tarikogut commented on #49
im developing Web interface (Web control Panel)

[2015-01-03 09:34] fourat commented on #69
everyone is welcome, let's discuss your contrib scope

[2015-01-05 18:08] fourat opened #86 "Add 'validity period' parameter for http api"
User must have defined authorizations for it (just like dlr)

[2015-01-07 22:47] #85 closed

[2015-01-07 22:50] fourat opened #87 "HTTP Api dlr-level parameter is not handled right when sending SMS through smpp client connector"
As reported by Tarik, setting dlr-level to 1, 2 or 3 will not get a correct 'registered_delivery' value in the sent SubmitSmPDU.

[2015-01-11 00:56] tarikogut opened #88 "Working On Web interface"
Working on web interface for jasminsms

[2015-01-13 12:29] jaffermbuzz opened #89 "Service can't start after installation"
Dear Guys,

Please help me after installation done on jasmin gateway service is not starting.

sudo /etc/init-d/ start

Reagrds,

Jaffer

[2015-01-13 12:31] jaffermbuzz opened #90 "Need Information"
Dear Guys,

Please provide me information for below points

1. How can i use Jasmin SMS Gateway for multiple provider?

2. How can filter the subscriber number in Jasmin Gateway. Subscriber doesn't wants to recieve the multiple SMS with same.

[2015-01-13 14:56] pyghassen commented on #89
Hi @jaffermbuzz can you provide some logs?
You can find them here /var/log/jasmin/twistd-jasmin.log by the way.

[2015-01-13 15:19] fourat commented on #89
Hi,

it is **sudo /etc/init.d/jasmind start**

If it's still not working, then you probably missed a step from the installation, this one:

    sudo ln -s /etc/jasmin/init-script/jasmind /etc/init.d/

and then try to start the service again

[2015-01-13 15:30] fourat commented on #90
Welcome @jaffermbuzz,

 1. It is what Jasmin do: to manage multiple providers. Take a look on the docs, especially when it comes to adding multiple smpp connectors, playing with routings and filters.

 2. Please give more detail, what are trying to do ?

[2015-01-13 19:27] jaffermbuzz commented on #90
Dear Fourat,

Thank you for your support

Line 2 : How can i filter the Numbers .It doesn't wants to send the message
to subscriber 2 times.

Example: more than 1000 number in the list may be some numbers are
repeated. so, i need to filter that numbers or otherwise it wants to delete
the duplicate numbers to save my cost.

Best Regards,

*P* Please consider your environmental responsibility before

[2015-01-13 19:54] fourat commented on #90
When taking it from a clean design point of view, this is a logic to be implemented outside of Jasmin, because the latter is acting as a router, it will route any message your application need to send, so you have to know what are you sending.

From another point of view, this can be done using the EvalFilter in the Jasmin router, you can write whatever filtering logic in there and Jasmin will tak

[2015-01-14 05:23] jaffermbuzz commented on #89
Dear Team ,

Thank you for your Support!

Best Regards,

*P* Please consider your environmental responsibility before printing this
e-mail

*DISCLAIMER: This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify
Mobile Communications Company Internationa

[2015-01-14 05:26] jaffermbuzz commented on #90
Dear Fourat,

Thank you for your Support.

Best Regards,

*P* Please consider your environmental responsibility before printing this
e-mail

*DISCLAIMER: This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify
Mobile Communications Company Internation

[2015-01-14 05:29] #90 closed

[2015-01-14 05:29] #89 closed

[2015-01-14 08:02] jaffermbuzz opened #91 "How can i access Jasmin SMS in Web"
Dear Fourat,

How Can i access Jasmin SMS Gateway through Web Interface?

After Installation Done I have tested demo for sending SMS.It is working fine with Ubuntu.
But i have issue after reboot my server service is not starting and Jasmin SMS Gateway is not connecting to telnet.

Can you please provide me the solution asap.

Regards,

Jaffer
Technology Dept

[2015-01-14 13:14] fourat commented on #91
Hi @jaffermbuzz,

Jasmin is a system service, you start it by using

    /etc/init.d/jasmind start
    or service jasmind start

if you want it to autostart on system reboot, you have to add it to the bootstrap, it depends on your distro, here's an example for Red Hat/CentOS:

    chkconfig jasmind on

**Note**: Don't forget to persist any configuration you change through telnet so you get it back

[2015-01-14 13:16] fourat commented on #91
And here's the example for ubuntu/debuan:

    update-rc.d jasmind defaults

[2015-01-14 13:20] jaffermbuzz commented on #91
How Can i access Jasmin SMS Gateway through Web browser

[2015-01-14 13:27] fourat commented on #91
There's no web gui, everything is done through the telnet console.

A web gui dev is under dev right now

[2015-01-14 13:29] jaffermbuzz commented on #91
when we will expect Web GUI done?

[2015-01-14 13:30] jaffermbuzz commented on #91
Can you Please provide me the information that how how many SMS can send per second or per hour

[2015-01-14 13:38] fourat commented on #91
It depends on your hardware configuration and the tuning you make for redis and rabbitmq.

I have deployments playing around 300 SMS/s with no special tunings.

[2015-01-14 13:42] jaffermbuzz commented on #91
Thank You for your support!

we need more details can please share your E-mail and Mobile Number to my E-mail.

Also can you explain what is the difference between Kannel and Jasmin

[2015-01-14 14:12] fourat commented on #91
everything is on my github profile

[2015-01-18 19:34] fourat commented on #62
Hi,

I&#39;d like to add you to my professional network on LinkedIn.

- Fourat

Accept: https://www.linkedin.com/blink?simpleRedirect=0Rd3AMdPcScjAPejAOdzoOdzARfkh9rCZFt65QqnpKqipdhl1vc49zhzRVpkJApn9xq7cCt7dBtmtvpnhFtCVFfmJB9C5QoORBt6BSrCAJt7dBtmsJr6RBfmtKqmJzon9Q9ClQqnpKimtBkClOs3Rx9CcObj5WpmZQczlFbmFEpjlBr3RBfP9SbSkLrmZzbCVFp6lHrCBIbDtTtOYLeDdMt7hE&msgID=I5962663023184211968_500&markAsRead=

You

[2015-01-18 21:09] tarikogut commented on #62
added

2015-01-18 21:34 GMT+02:00 Fourat ZOUARI <notifications@github.com>:

[2015-01-20 17:37] zoufou opened #92 "SMPP Connector: handle receipts received through data_sm PDU"
Actually only receipts received through deliver_sm PDU are handled

[2015-02-06 12:25] fourat opened #93 "enum module conflicting with enum34"
enum as a jasmin install requirement and enum34 as a cryptography install requirement provide the same module name ***enum***, this will lead to errors:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/twisted/trial/runner.py", line 498, in loadPackage
    module = modinfo.load()
  File "/usr/local/lib/python2.7/dist-packages/twisted/python/modules.py", line 383,

[2015-02-06 12:25] fourat commented on #93
A proposed solution is to venodrize enum module and remove it as an external requirement.

[2015-02-24 18:06] #49 closed

[2015-02-24 18:06] #93 closed

[2015-02-25 10:14] texpert opened #97 "Setting "bind_ton 1" on connector is broken"
Hi, Fourat!

My gateway told me to set TON and NPI both 1. So, I set "bind_ton 1" when creating new connector - and everything went broken - see the connector log:

system_type: ''
interface_version: 52
addr_ton: 1
addr_npi: EnumValue(<jasmin.vendor.enum.Enum object at 0x7f3f61164410>, 9, 'ISDN')
address_range: None
]
2015-02-25 11:11:15 ERROR    1818 Bind failed [[Failure instance: Traceback: <ty

[2015-02-25 11:38] fourat commented on #97
Please tell the release you're using:

    $ python
    Python 2.7.6 (default, Mar 22 2014, 22:59:56)
    [GCC 4.8.2] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

[2015-02-25 11:44] texpert commented on #97
Python 2.7.9 (default, Dec 11 2014, 17:21:00)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

0.6b2

[2015-02-25 11:54] texpert commented on #97
Moreover, prior to this, I was trying to set bind_ton and src_ton to 1, updating an existing connector. Typing ok worked normally, but then, typing smppccm -s cid_name, caused the jcli to exit without any warnings or messages...

[2015-02-26 06:54] #97 closed

[2015-02-26 07:23] fourat opened #100 "SMPP Client is disconnecting when receiving a submit_sm_resp with 0x00000106 (Destination Address Sub unit is Invalid."

[2015-02-26 09:55] #65 closed

[2015-02-26 09:55] #66 closed

[2015-02-26 09:55] #87 closed

[2015-02-26 09:55] #100 closed

[2015-02-26 18:45] texpert opened #103 "Changing user password in jcli to some user - breaks user authentication"
In jasmin 0.6b3 - if a user is already in the list with some password, and I run:

user -u username
password somepassword
ok

-> then sending SMS-MT by http brings Authentication error...

Removing the user with user -r user, and then adding the same user with the desired new password - makes it OK

[2015-02-26 19:22] texpert opened #104 "bind_ton and src_ton settings on connector not working"
Thank you very much, Fourat, for the hard work on https://github.com/jookies/jasmin/issues/97 - now the connectors are updating OK!

Though, in jasmin 0.6b3 - still had to hardcode in /jasmin/protocols/smpp/configs.py to get working connection with another SMPP gateway:

"#        self.bind_addr_ton = kwargs.get('bind_addr_ton', AddrTon.UNKNOWN)"
        self.bind_addr_ton = kwargs.get('bind_addr_

[2015-02-27 07:23] fourat commented on #104
Hi Aurel,

Do you mean that setting src_ton and bind_ton through jcli has no effect ? are you setting while the connector is started or stopped ?

[2015-02-27 08:22] texpert commented on #104
Hi, Fourat!

Yes, no effect.
I have tried all the ways - started or stopped connector, stopped and then started again jasmind...

[2015-02-28 00:14] fourat commented on #103
Aurel, i've tryed to reproduce the scenario and i've got nothing to claim about, i set my password, checked that i can authenticate to http api, then updated it and when i reload the url again i get:

    Error "Authentication failure for username:fourat"

Can you please provide your steps-to-reproduce ?

[2015-02-28 00:18] fourat opened #105 "A numeric password set through jCli will cause an exception when trying to bind"
As reported by Shirvan:

2015-02-28 01:17:24 ERROR    20126 Bind failed [[Failure instance: Traceback: <type 'exceptions.AttributeError'>: 'int' object has no attribute 'encode'
/home/fourat/workspace/jasmin/jasmin/vendor/smpp/twisted/protocol.py:714:bindAsTransceiver
/home/fourat/workspace/jasmin/jasmin/vendor/smpp/twisted/protocol.py:609:bind
/home/fourat/workspace/jasmin/jasmin/vendor/smpp/twis

[2015-02-28 00:40] MohammadShirvan commented on #105
Thanks fourat

[2015-02-28 12:35] #105 closed

[2015-03-04 18:08] fourat commented on #103
@texpert any update ? can you please confirm or not this issue ?

[2015-03-04 21:45] texpert commented on #103
Yes, Fourat, confirming it, though had no time yet for comprehensive testing, but the scenario is like this - I have tried it yesterday again with Jasmin 0.6b4:

Add an user 'user -a someuser' with some password '1st_password"
Send an SMS through http API - brings Success
Then changing the user's password 'user -u someuser; password 2nd_password; ok'
Send an SMS through http API with the same user

[2015-03-04 23:34] fourat opened #107 "Incorrect http dlr-level parameter mapping to smpp registered_delivery parameter"
As reported by tarik, it seems that setting dlr-level to 2 or 3 have no effect, the message is always sent with "dlr:SMSC_DELIVERY_RECEIPT_REQUESTED_FOR_FAILURE", as for dlr-level 1 message is sent dlr:NO_SMSC_DELIVERY_RECEIPT_REQUESTED.

Here's the correct behaviour:

* dlr-level=1, smsc receipt must be requested, only submit_sm_resp is handled
* dlr-level=2, smsc receipt must be requested, only

[2015-03-04 23:36] fourat commented on #103
Bug confirmed

[2015-03-05 11:14] zoufou opened #108 "Add possibility for sending bulks through the http api"

[2015-03-05 11:15] fourat opened #109 "Add validity period parameter in http api"

[2015-03-05 11:16] zoufou opened #110 "Is it possible to schedule sending through http api ?"

[2015-03-05 11:41] #103 closed

[2015-03-05 14:18] fourat commented on #109
Duplicate to #86

[2015-03-05 14:18] #109 closed

[2015-03-06 09:44] hi-tech opened #112 "Bug? deliverSmThrowerConfig instance has no attribute 'max_retries'"
Came across a bug where a failed inbound message (404 from http url) is not retried. Un-commenting the param in the config file does not have any effect.

PS. Great gateway, slick cli

[2015-03-07 16:31] fourat commented on #110
Will be using a Dead Letter Exchange

[2015-03-07 17:59] fourat commented on #112
Hi @hi-tech , this doesnt seem to be a bug, 404 error is considered as "final" state of the http connector and will not retry to send the message again.

jasmin.routing.throwers.deliverSmThrower is the responsible of handling this, it logs by default to /var/log/jasmin/deliversm-thrower.log, you can check what goes there when you have a 404 error:

    2015-03-07 18:59:06 ERROR    1443 Throwing me

[2015-03-07 17:59] #112 closed

[2015-03-07 18:25] hi-tech commented on #112
Ahh, makes perfect sense. Thanks.

[2015-03-07 19:49] #86 closed

[2015-03-07 19:49] #107 closed

[2015-03-07 21:14] fourat commented on #110
It is not possible to use a per-message ttl due to the following caveat:

    While consumers never see expired messages, only when expired messages reach the
    head of a queue will they actually be discarded (or dead-lettered). When setting a per-queue
    TTL this is not a problem, since expired messages are always at the head of the queue. When
    setting per-message TTL however, expired mes

[2015-03-09 14:10] fourat opened #114 "Incorrect comparison of bound_connections_count"
in factory.py:

    user.CnxStatus.smpps['bound_connections_count'] >= user.smpps_credential.getQuota('max_bindings'))

must be:

    sum(user.CnxStatus.smpps['bound_connections_count'].values()) >= user.smpps_credential.getQuota('max_bindings')):

[2015-03-10 22:32] fourat commented on #110
Based on http://redis.io/topics/notifications, it is possible to subscribe on event and receive the desired ones, a proof of concept implementation must be done with **txredisapi** and performance impact must be verified:

    Configuration (from http://redis.io/topics/notifications)
    By default keyspace events notifications are disabled because while not very sensible the feature uses
    some

[2015-03-11 08:30] #114 closed

[2015-03-12 00:30] texpert opened #116 "jcli terminating when trying to show old users"
When doing user -s username on users, created some weeks ago, jcli is silently terminating.

I think this maybe got broken when fixing https://github.com/jookies/jasmin/issues/103 in this commit https://github.com/jookies/jasmin/commit/bf3568e76ffff5210a56e243401633319f2fa552  in jasmin/protocols/cli/usersm.py

jasmin-0.6b6, 0.6b7

[2015-03-12 02:07] texpert opened #117 "Error on receiving message on smpp connector"
Hello, Fourat!

Have connected to a new gate, binding and sending to it is working OK, but receiving DLRs is not possible - something's going wrong:

2015-03-11 12:44:46 INFO     30070 SMPP Client received PDU [command: deliver_sm, sequence_number: 1, command_status: ESME_ROK]
2015-03-11 12:44:46 DEBUG    30070 Received PDU: PDU [command: deliver_sm, sequence_number: 1, command_status: ESME_ROK
se

[2015-03-12 05:09] mjknox commented on #88
Hi, any progress on this? I am keen to assist/test.

[2015-03-12 06:54] sah-anshu opened #118 "message routing possibilities"
Hi,

I have seen the following message routing via the configuration.
========
MT message is routed to smpp_1 OR smpp_2 if:
Its destination address matches the regular expression “^+33d+”
MT message is routed to smpp_4 if:
Its sent by a user in group G2 and in working hours interval (8pm to 6am)
MT message is routed to smpp_3 if:
Its sent by a user in group G2

========
Kindly advise if these are

[2015-03-12 08:33] fourat commented on #118
Hi,

1. What do you mean by "scrubbing destination address" ? do you need to delete a route ?
2. If i understand you, you need to stick a user to a sender name, in this case you update user through jcli to:
  1. fix the sender name: **mt_messaging_cred defaultvalue src_addr SENDERNAME**
  2. revoke the right to change the sender name: **mt_messaging_cred authorization src_addr False**
3. "Multiple

[2015-03-12 08:46] fourat commented on #116
You're right, that commit will cause regression when upgrading and having already setup users.

As it is still in beta, upgrades will be risky.

Maybe next time will be issuing a note for upgrades.

[2015-03-12 08:46] #116 closed

[2015-03-12 08:48] fourat commented on #117
It seems related to network_error_code, i'm checking

[2015-03-12 10:57] fourat commented on #117
@texpert let's discuss this issue, please drop me a message on fourat@gmail.com

[2015-03-13 04:53] sah-anshu commented on #118
Hi

I shall explain these 3 possibilities.

*1. Scrubbing Destination address means.*

While Sending SMS, Companies want to filter some "don't disturb number" .
aka *DND*. To filter those number, We keep those data in specific Database
and run lookup query everytime we send SMS.  We can't keep those numbers in
cache because they are in millions.

*Challenge: Realtime lookup will slowdown our SMS A

[2015-03-13 10:00] texpert commented on #117
It is remote gateways fault, closing this.

[2015-03-13 21:18] fourat commented on #118
Hi,

1. This is possible by using a dynamic filter (filter type is **EvalPyFilter**) which can execute a script to decide whether to pass or not a specific message, there's a short doc on it in http://docs.jasminsms.com/en/latest/management/jcli/modules.html , i would love to get your contribution in writing an example on how to use this powerful filter.
2. At the moment, jasmin will give authoriz

[2015-03-13 21:20] zoufou opened #119 "User must have authorization to set source_address within a set of defined addresses"

[2015-03-14 05:48] sah-anshu commented on #118
Hi

Thanks for your attention.
1. *EvalPyFilter *seems th exact solutions which i am looking for. But Just
worried about any sample code with few variables or parameters of sender,
receiver, connector(uplink), messageText. Then it will be easy to acheive.

2. If i get the variable *sender *in *EvalPyFilter *then we don't need
to develop that feature.
3. I will goahead and test *roundrobinmtroute.*

[2015-03-14 14:46] fabed2k11 opened #120 "PDUParseError"
Hi,
Am trying to receive MO message but i got the following error:
PDUParseError: Optional Parameter not allowed: Invalid option source_network_type

Can you help? Please...

Thanks,

[2015-03-14 22:01] fourat commented on #120
Please activate debug level in connector's log and paste the error from the log here

[2015-03-15 10:25] fourat commented on #118
*From the doc:*

    Using EvalPyFilter is as simple as the shown example, when the python script is called it will get the following global variables set:

    1. routable: one of the jasmin.routing.Routables.Routable inheriters ([Routable](http://docs.jasminsms.com/en/latest/routing/index.html#route-routable) for more details)
    2. result: (default to False) It will be read by Jasmin router at

[2015-03-15 13:14] tarikogut opened #121 "Support SubmitMultiSM feature"
add SubmitMultiSM feature for bulk sending

[2015-03-15 15:55] fabed2k11 commented on #120
Here you are

Optional Parameter not allowed: Invalid option source_network_type
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/jasmin/vendor/smpp/twisted/protocol.py", line 195, in rawMessageReceived
    pdu = self.encoder.decode(StringIO.StringIO(message))
  File "/usr/local/lib/python2.7/dist-packages/jasmin/vendor/smpp/pdu/pdu_encoding.py", line 927, in decod

[2015-03-15 16:18] fourat commented on #120
that's the traceback of the error, i need the smpp log where i can see the PDU causing the error, it seems you are using a vendor specific value of source_network_type.

Please send debug logs, or a tcp capture (using tcpdump or wireshark) of the traffic where i can see the submit_sm PDU

[2015-03-15 16:32] #51 closed

[2015-03-15 16:44] zoufou opened #123 "Expose real time statistics in jCli"

[2015-03-15 17:11] fabed2k11 commented on #120
Received unparsable PDU 0000004500000005000000000000000100020135393232393631383600040933373435320000000000000000000000000e00010100060001010424000848692066696b7279

[2015-03-15 19:54] fourat commented on #120
Ok i've reproduced the error and it seems you a have a vendor specific case, your SMS provider is using a non standard SMPP protocol when using **source_network_type** and **dest_network_type** optional parameters in DeliverSm pdu (these parameters are only for DataSm pdu).

Anyway, Jasmin can handle this, i need more information about your provider gateway if possible.

Please drop me a message o

[2015-03-17 00:29] hi-tech opened #124 "Command Length is invalid"
Getting an error binding to a new carrier (successful w/ simulator):

[code]

kannel binds successfully.

Thanks.

[2015-03-17 09:00] texpert opened #125 "Request to implement SMS-MT routing from smpps to httpc"
If it is no big effort, please!

[2015-03-17 09:03] texpert opened #126 "Request for feature - update jcli command for routers and filters"
It is very annoying remove routes and recreate them just because you have to add or change some filters

[2015-03-17 19:52] fourat commented on #124
Hi,

Can you please provide a tcp capture (pcap file) using tcpdump or wireshark where i can see the bind_transceiver_resp pdu ?

[2015-03-17 20:03] farirat opened #127 "jcli: control dependencies between user, route, filter and connector when updating/removing an object"
As said in #126, managed objects through jcli must be linked to provide more convenient way to administrate jasmin.

[2015-03-17 20:08] fourat commented on #126
True, it is not easy doing it through jcli, created #127 for it.

But anyway, jcli is intended for basic administration, it is a "human" interface to twisted's perspective broker api which provide everything for someone who knows how to use it, next step is to build a web management panel on top of perspective broker, in this case jcli would be kept as is, a simple tool for doing simple things ...

[2015-03-17 20:08] #126 closed

[2015-03-17 20:13] fourat commented on #125
As of now, routing is designed to deliver messages as below:

* smpps to smppc, smppc to smpps
* smppc to http, http to smppc

There's no

* smpps to http

Because it is a use case not often considered in a sms gateway, future plans are:

* Think of a http api for delivering bulks
* Implement submit_sm_multi in smppc and smpps

Future connectors to be designed are:

* Expose a ftp server to accept

[2015-03-18 00:27] hi-tech commented on #124
Hi,

Apologies, you can close this issue. Simple config error as I was missing the **systype** field as per the invalid system_type error from the carrier as the dump indicates. Successfully binded once field added. Thanks for the tip on viewing the tcpdump.

[code]

[2015-03-18 00:27] #124 closed

[2015-03-18 06:44] fourat commented on #124
Hi, anyway this must not lead to a **corrupted connection error**, can you please share the dump on fourat@gmail.com

[2015-03-18 18:46] hi-tech commented on #124
Agreed, sanitized pcap sent. Thanks.

[2015-03-20 12:47] alex-black opened #128 "PDUCorruptError: Command Length is invalid"
Hi,
Although Jasmin binds ok, when i submit a message it logs:

2015-03-20 14:39:15 ERROR    56003 Command Length is invalid: Invalid command length: expected 25, parsed 16
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/jasmin/vendor/smpp/twisted/protocol.py", line 195, in rawMessageReceived
    pdu = self.encoder.decode(StringIO.StringIO(message))
  File "/usr/l

[2015-03-23 11:06] #120 closed

[2015-03-23 11:06] #128 closed

[2015-03-23 14:20] reinaldorauch opened #133 "There is a chance to implement hardware support?"
By hardware I mean gsm modems

[2015-03-23 16:42] zoufou commented on #133
It is possible, but not planned in near releases.

I dont thin gsm modem connectivity using AT commands will be planned, but an android app. bridge for sending/receiving messages will be designed.

[2015-03-23 16:47] reinaldorauch commented on #133
If someone implements the AT commands module, that can be merged?

[2015-03-23 16:49] sah-anshu commented on #133
it's a good idea . We can implement python-gsmmodem module for same . It
can work as smsc uplink for mo and mt
On 23/03/2015 10:17 pm, "Reinaldo Antonio Camargo Rauch" <
notifications@github.com> wrote:

[2015-03-23 16:52] reinaldorauch commented on #133
that can do @sah-anshu

[2015-03-23 17:07] sah-anshu commented on #133
Even i had been planning that Lets do @Reinaldo I am sure if it is tested
correctly it will be merged.

On Mon, Mar 23, 2015 at 10:22 PM, Reinaldo Antonio Camargo Rauch <
notifications@github.com> wrote:

[2015-03-31 20:29] sah-anshu commented on #125
Hi zoufou

I think there shall be smppc/hhtpc to <any database> &&  <any database> to smpps/hhtp It will solve major integration.

[2015-04-01 17:53] anmay opened #134 "Issue in Max Bindings"
I am testing Jasmin with Kannel, I set smpps_cred quota max_bindings 2 and I tried to connect with kannel in TRX mode with 1 session but it show below messgae
2015-04-01 19:44:00 WARNING  6016 New bind rejected for username: "smppt", reason: max_bindings limit reached.
2015-04-01 19:44:00 WARNING  6016 SMPP System smppt has exceeded maximum number of bind_receiver bindings
2015-04-01 19:44:10 WARN

[2015-04-05 16:20] Bujail opened #135 "Jasmin installation getting failed!"
pi install jasmin gives the following error:

Downloading/unpacking jasmin
  Running setup.py egg_info for package jasmin
    Traceback (most recent call last):
      File "<string>", line 14, in <module>
      File "/root/build/jasmin/setup.py", line 44, in <module>
        install_reqs = parse_requirements('install-requirements', session = session)
    TypeError: parse_requirements() got an unex

[2015-04-05 17:38] zoufou commented on #135
What python version are you usung ?

On Sun, 5 Apr 2015 at 17:20 Bujail <notifications@github.com> wrote:

[2015-04-08 07:39] texpert opened #136 "Digit-only username not supported by jcli and http API"
Hello, Fourat!

When entering a digit-only username in jcli, the following error is fired on ok command:

Error: __str__ returned non-string (type int)

This could be avoided wrapping the username with quotes, but the uid got set without quotes and now i have a user, which could not be removed

jcli : user -l
#User id          Group id         Username         Balance MT SMS Throughput
#jsm22

[2015-04-08 10:57] Bujail commented on #135
Hi Zougou, Thanks for your replay. I am using Python 2.7.3.

[2015-04-08 15:26] zoufou commented on #135
Please update pip by issuing this command:

sudo pip install --upgrade pip

[2015-04-09 18:27] sotoz opened #137 "Jasmin Installation on CentOS"
Hi,

jasmind cannot find log_daemon_msg and start-stop-daemon command on CentOS (6.6).

    #./jasmind start
    ./jasmind: line 106: log_daemon_msg: command not found
    ./jasmind: line 58: start-stop-daemon: command not found
    ./jasmind: line 109: log_end_msg: command not found

I have installed the redhat-lsb package with all its dependencies but with no luck. Is it possible to rewrite the

[2015-04-09 21:27] texpert commented on #137
Hi!

CentOS 6 init scripts should be slightly different - http://techarena51.com/index.php/how-to-create-an-init-script-on-centos-6/

[2015-04-10 04:37] Bujail commented on #135
Hi,
Thanks for your replay, I have updated pip using the given command. But I found there is multiple pip like pip: /usr/bin/pip /usr/local/bin/pip2.7 /usr/local/bin/pip. So I used /usr/local/bin/pip to install jasmin. Its works.

After installation I have edited jasmin.cfg as per the document specified (http://docs.jasminsms.com/en/latest/management/jcli/#configuration-jcli) and restarted jasmin

[2015-04-11 19:50] sotoz commented on #137
Alright, I wasn't sure if I was missing something else during the installation, but I guess I just have to rewrite the init script for centos. I will push it to the repository when I'm done so you can check it as well. I'll try to reproduce the same output as the original init script. Anything crucial that I should be aware of?

[2015-04-11 19:52] tarikogut commented on #137
i can help tarikogut add skype

2015-04-11 22:50 GMT+03:00 Sotiris Ganouris <notifications@github.com>:

[2015-04-13 06:24] sumeetb opened #139 "need configuration to send deliver_sm instead of data_sm for SMPP delivery receipt"
I configured Jasmin gateway to talk to SMPP client. I am using this as Jasmin server and for MT i have simulators running. I observed that Jasmin gatway is responding in data_sm for delivery receipts which somehow my SMPP client(MO) is not able to understand. Is there any configuration changes i can do to gateway so that it can respond delivery receipts in deliver_sm instead of data_sm?

[2015-04-13 09:19] zoufou commented on #135
@Bujail please drop me a message on fourat@gmail.com so i can support you

[2015-04-13 09:23] zoufou commented on #137
@sotoz this is good news to get RHEL/CentOS 6 init script, i think it **setup.py** must check for the linux distro before installing to decide which init script to deploy.

[2015-04-13 09:24] zoufou commented on #139
Not for the current release, receipts are sent through data_sm pdus

[2015-04-13 09:25] zoufou commented on #136
Your fix is now merged, you can close this comment by yourself ;)

Please think about covering your fix by some tests.

[2015-04-13 17:04] #136 closed

[2015-04-14 04:31] sumeetb commented on #139
Thanks for the information. But i can see on home page that SMPP server support deliver_sm? (Text from Home page: SMPP Server supported PDUs right now are bind_receiver, bind_transceiver, bind_transmitter, unbind, submit_sm, deliver_sm and enquire_link.).
If still it does not support do you know when is the plan to have this support in SMPP server mode?

[2015-04-14 10:22] zoufou commented on #139
deliver_sm is supported for delivering mobile-originated messages and not for receipts.

[2015-04-14 10:51] sumeetb commented on #139
is there any plan to have deliver_sm support for receipts?

[2015-04-14 10:56] sumeetb commented on #139
Thanks! Also, in data_sm pdu for receipts, i don't see other delivery receipts status other than delivered and accepted even though my SMSC simulator is responding different statues like UNDELIV, EXPIRED, DELETED etc. Is this issue or i am missing something over here?

[2015-04-14 11:00] zoufou commented on #139
Am looking for possibilities of making deliver_sm receipts, will get back to you soon.

As for the receipt status, can you please provide a tcpdump file ? drop it to fourat@gmail.com

[2015-04-14 11:01] sumeetb commented on #139
Thanks! Sure, will capture and send it to you

[2015-04-14 21:38] gitsamo opened #140 "not an issue: just to check if there is commercial support for a production installation ?"

[2015-04-15 17:18] zoufou commented on #140
Hello,
Yes we can discuss commercial support with better SLA than usual, please drop me an email to fourat@gmail.com

[2015-04-15 17:18] #140 closed

[2015-04-20 19:03] d4xdragon opened #141 "pip install jasmin failed on CentOS"
I tried to install jasmin using pip as advised but failed.

here is the complete log of installation.

----------------------------

[root@jasmin Python-2.7.6]# pip install jasmin
/usr/local/lib/python2.7/site-packages/pip-6.1.1-py2.7.egg/pip/_vendor/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring

[2015-04-20 19:06] zoufou commented on #141
Hey, are you sure you followed the installation doc ? ;)

From the outcome you posted, it seems you forgot to install libffi-dev package.

There's a buch of requirements to meet before executing pip install, checkout this: http://docs.jasminsms.com/en/latest/installation/index.html#prerequisites

[2015-04-20 19:06] #141 closed

[2015-04-21 01:15] tarikogut commented on #141
pip install jasmin -pre

2015-04-20 22:06 GMT+03:00 zoufou <notifications@github.com>:

[2015-04-24 01:04] asgarciap opened #142 "need routing configuration to transform submit_sm to deliver_sm"
Hi,
I am trying to use jasmin as a smpp router and I need some help.
This is my escenario:
smpp_extern_client1 <------> jasmin_smpp_server1 <-----> jasmin_smpp_server2 < ------ > smpp_extern_client2

I want to send MT (submit_sm) via smpp_extern_client1 and receive it on the smpp_extern_client2 conection as a deliver_sm. How can I configure routing between jasmin_smpp_server1 <-> jasmin_smpp_serve

[2015-04-24 11:12] zoufou commented on #142
Hi,

This seems to be a basic routing scenario, in your **jasmin_smpp_server1** you have a smpp client connector (say cid=**server2**), you enter in **jasmin_smpp_server1**'s jcli console and type the following:

	jcli : mtrouter -a
	Adding a new MT Route: (ok: save, ko: exit)

	jasmin.routing.Routes.DefaultRoute arguments:
	connector

	Successfully added MTRoute [DefaultRoute] with order:0

Then

[2015-04-24 15:33] asgarciap commented on #142
Hi,
I forgot to mention that I already did that configuration, the problem is that I get a closed loop because in the smpp_jasmin_server2 the message get in as a MT and it applies the same routing configuration, which result in reinjecting the message again and again in the smpp_jasmin_server2 forever.

1. I send a MT (submit_sm) from smmp_extern_client to smpp_jasmin_server1
2. smpp_jasmin_server

[2015-04-24 15:40] asgarciap commented on #142
Hi,
I forgot to mention than smpp_jasmin_server1 and smpp_jasmin_server2 are actually in the same phisycal CPU and in the same jasmin instance!
When I said server1 and server2 I refer to two SMPP connections acting as a server.

[2015-04-24 16:05] zoufou commented on #142
How can it be ? one Jasmin instance with two SMPP Servers ?
Do you mean two Jasmin instances in the same box ? having each one a different bind port ?

[2015-04-24 16:34] asgarciap commented on #142
No, sorry I couldn't explain well.
I have one SMPP Server binding in port 2775.
Two clients connected to that server from differents hosts (user1/host1 and user2/host2).
I want to send messages from user1/host1 and receive them in user2/host2.
Don't know how to configure routing ir order to do that, don't even know if that is possible in jasmin.

[2015-04-26 10:09] zoufou commented on #142
As of now (v0.6), routing is possible between different connectors this way:

* smpps to smppc, smppc to smpps
* smppc to http, http to smppc

And SMPP Server is meant to be an API for:

* Sending submit_sm
* Getting ACKs through submit_sm_resp and deliver_sm

Thus said, it's not intended to route deliver_sm content but its api is capable of this.

What's your case scenario ? please provide more d

[2015-04-26 19:09] d4xdragon commented on #137
I managed to installed jasmin but still unable to start it, using centos 7,
If you have managed to create the startup script for centos, can you please share that?

thanks

[2015-04-27 03:13] asgarciap commented on #142
Hi! Thanks a lot for your answers!
I'm currently working in a project which includes sending binary SMS. To test that my software works properly I have an old PDU reader simulator from Gemplus (currently Gemalto) which can receive and process binary sms from an SMPP connection. This simulator supports SMPP protocol but it has to be connected as a client.
Besides the binary content of the SMS I nee

[2015-04-27 06:28] sotoz commented on #137
Hi
I hadn't the time to develop the startup script for centos yet, but I suppose I will do it sometime this week.
You can always start jasmine manually though.

[2015-04-27 08:12] d4xdragon commented on #137
I am not very good at Linux .. so not sure how to start the jasmin manually.
I tried to run

/usr/bin/jasmind.py

but that gave me a lot of errors like
/usr/bin/jasmind.py: line 1: import: command not found

Can  you please advise how to manually start jasmin?

Thank You.

[2015-04-27 08:24] sotoz commented on #137
Are you sure you are trying to execute jasmin with Python 2.7? If you have both pythons installed (2.6 and 2.7) try doing something like

# python2.7 /usr/local/bin/jasmind.py --username jcliadmin --password jclipwd

[2015-04-27 09:22] d4xdragon commented on #137
Great, thank you, I was missing the starting python2.7.
i was taking it as a shell script which was totally wrong..

thanks again

[2015-04-27 14:12] zoufou commented on #142
There's an important think you're missing in the details, you need Jasmin to convert your submit_sm to a deliver_sm :) and this can't happen as a standard behaviour.

Now let's go forward to a solution for you, as you may know, Jasmin messaging is all built on top of AMQP messaging and using RabbitMQ, you need to get easy with this before reading my solution proposal, so start by getting RabbitMQ

[2015-04-27 14:57] asgarciap commented on #142
Hi! Thanks again for your answer.
When you say "this can't happen as a standard behaviour", are refering to jasmin's standard behaviour, right? I have used some proprietary SMPP GW solutions before than can do that (convert submit_sm to deliver_sm).
I think this kind of features would make jasmin more flexible and powerful :) I do have experience developing SMPP solutions, so I could bring some he

[2015-04-27 15:12] zoufou commented on #142
pdu conversion is not a typical sms gateway feature, jasmin is more intended at serving an agregation/routing business where this kind of conversion is not standard, i can understand it is in other environments.

The script i gave you is ablde to send a low level DeliverSM object, **low level** means you have direct access to the smpp stack and you can set any pdu parameter without having an api l

[2015-04-27 15:25] asgarciap commented on #142
I got it! .. Thanks! I'll take a look to your script.

[2015-05-08 15:36] ed-irwane commented on #117
I'm running Jasmin version 0.6b9, and described issue still persists. Regardless of how this TLV ended up in deliver_sm PDU, application shouldn't fail like that, since it causes connection to drop. Do let me know should more details be required so I can provide it to you.

[2015-05-08 15:58] zoufou commented on #117
Can you please provide a tcp trace ? and debug log snapshot showing the error.
Please send the trace to support@jasminsms.com

[2015-05-08 20:59] pguillem opened #144 "Services don´t start unless jasmin.cfg is missing or commented"
Started from a blank install. Everything came up OK.

Whenever i modify the /etc/jasmin/jasmin.cfg file to configure the services at will, uncommenting anything will stop the services from starting.

For example, if i modify the jCli parameters, the jCli server will not bind to port 8990 nor localhost.

If i uncomment all the defaults, no services will start... only the redis and broker.
Debug fil

[2015-05-08 21:41] pguillem commented on #144
Update... another symptom is jasmin.py is not storing anything (users, groups, etc).
If i restart the service, the previously saved data saved via jCli is lost.

I did set the directory permissions in the prerequisites page... but it seems its not storing.

[2015-05-08 21:55] asgarciap commented on #144
Hi @pguillem , you have to type the command "persist" to save your changes.

[2015-05-08 22:06] pguillem commented on #144
Great. one down. Thanks @asgarciap

[2015-05-08 23:26] pguillem opened #145 "Replicating each message attempt to MySQL"
I assume the data is being stored on Redis.

1) Which file of jasmin would i have to modify (in python) so i could issue an insert statement each time a meesage is routed properly via MT?

2) Which would be an appropiate file to trigger an SQL update upon receiving a DLR from the SMSC?

Would it be easier to do a trigger @ redis to then replicate message data to MySQL in another server?. I don´t e

[2015-05-09 17:24] pguillem commented on #144
I wonder why the config file issue keeps happening. Any ideas?

[2015-05-10 11:44] zoufou commented on #145
Hi !

Redis is used for saving temporary maps between message IDs in order to recognize the original sent message when a receipt is received, i understand you need to save messaging traffic with receipts in a data store, mysql or whatever .. this is pretty simple and Jasmin is already covering it:

Jasmin's messaging is done on top of a AMQP broker, MT,MO and receipts are exchanged by topics throu

[2015-05-10 11:55] zoufou commented on #144
Confirmed bug, i'll provide an update fixing this.

[2015-05-10 13:12] #144 closed

[2015-05-10 13:14] zoufou commented on #144
@pguillem the issue is closed, please update Jasmin to 0.6b10 and test again.

Don't forget to type in **persist** whenever you need your config to be loaded on next Jasmin restart.

[2015-05-11 17:20] pguillem commented on #144
Thanks @zoufou , will try and report back.
Great project!

[2015-05-11 17:22] pguillem commented on #145
Will do. I´ll gladly pop the code.
Thanks

[2015-05-11 23:12] asgarciap commented on #142
Hi!
I am trying to use your script but I can not get it to work.
I configured everything but when I execute it, I got this error:

[code]

Don't know where or how set the 'max_retries' parameter.

Any advise?

[2015-05-12 03:55] pguillem commented on #145
Hi @zoufou. Ok. I plugged a simple consumer to the queue and dumped the message via node.js amqp module. Just to try.

I realized you are messaging the whole object and, offcourse, the output is encoded as such.

in your queues/test directory, you use a class called Content.py (as an envelope i assume)...

Question:
Is content.py being used in the test suitable for decoding your objects from the q

[2015-05-12 04:39] pguillem commented on #145
Received message:

 �^Bcjasmin.vendor.smpp.pdu.operations
SubmitSM
q^@)�q^A}q^B(U^Fstatusq^Ccjasmin.vendor.enum
EnumValue
q^D)�q^E}q^F(U^D_keyq^GU^HESME_ROKq^HU  _enumtypeq      cjasmin.vendor.enum
Enum
q
)�q^K}q^L(U^PESME_RCANCELFAILq^Mh^D)�q^N}q^O(h^Gh^Mh    h^KU^F_indexq^PK^@ubU^XESME_RINVBCASTALIAS_NAMEq^Qh^D)�q^R}q^S(h^Gh^Qh  h^Kh^PK^BubU^NESME_RINVSYSIDq^Th^D)�q^U}q^V(h^Gh^$
ubU^RESME_RSERTY

[2015-05-12 20:12] zoufou opened #147 "Error when throwing deliver_sm through smpp: deliverSmThrowerConfig instance has no attribute 'max_retries'"
Traceback:

    2015-05-06 00:20:59 ERROR    4001 Throwing SMPP/DELIVER_SM [msgid:1] to (gemplussrv): gemplussrv.
    2015-05-06 00:20:59 ERROR    4001 Error in throwing_errback_errback: [Failure instance: Traceback: <type 'exceptions.AttributeError'>: deliverSmThrowerConfig instance has no attribute 'max_retries'
    /usr/local/lib/python2.7/dist-packages/twisted/internet/defer.py:1253:unwindGene

[2015-05-12 20:12] zoufou commented on #142
This is a Jasmin bug: #147

[2015-05-12 21:43] #147 closed

[2015-05-12 21:44] zoufou commented on #142
Just fixed, please update to 0.6b11 and test again

[2015-05-12 21:59] zoufou commented on #145
Okay i see the trouble you're in :)

Jasmin is exchanging python objects (SubmitSM, SubmitSMResp, DeliverSM objects ...) and they are pickled (serialized), i think it's not a good starting poing to be with nodejs.

Check this gist: https://gist.github.com/zoufou/5701d71bf6e404d17cb4
I've just written a basic consumer that can show you messages being exchanged in real time, run Jasmin, then run thi

[2015-05-13 17:53] zoufou commented on #139
deliver_sm pdu must contain the **message_payload** parameter.

[2015-05-13 18:21] pguillem commented on #145
You sir. Absolutely rock!

[2015-05-14 07:31] pguillem commented on #145
I've added PySQLPool support to your script and created its own init.d in order to run it as a daemon.

I'll post the code tomorrow.
Best

Pedro

[2015-05-14 14:07] #139 closed

[2015-05-14 19:55] zoufou commented on #117
As reported by Erwin, issue reopened

[2015-05-15 08:22] #117 closed

[2015-05-15 11:16] ishr00m opened #152 "Start script must indicate if Jasmin cannot bind to some defined ports"
Sorry for posting here but i was'nt be able to post at google groups. I just installed jasmind and can't access to telnet jcli.

My config of jCli is:
[code]
After i install i changed default value to following, then restarted jasmind by "sudo service jasmind restart" (i tried also stop and start). Then i try to connect to jcli via telnet:

[code]

netstat | grep "8990" shows nothing and log folde

[2015-05-15 11:21] texpert commented on #152
Have you checked with "ps ax" if jasmin is running?

Try to start it with:

sudo /etc/init.d/jasmind start

[2015-05-15 11:22] ishr00m commented on #152
Yes it's running.

ps ax | grep jasmin
[code]

[2015-05-15 11:33] texpert commented on #152
It's running with the standard credentials "--username jcliadmin --password jclipwd"

You should edit the /etc/init.d/jasmind

COMMAND_ARGS='--username jcliadmin --password jclipwd'

[2015-05-15 11:36] ishr00m commented on #152
Should it be with md5 there or just plain text? I tried both ways, both are not working...
in ps ax i see it with new credentials.

[2015-05-15 11:37] ishr00m commented on #152
It seems that i can speak russian with you :)

[2015-05-15 11:43] texpert commented on #152
I haven't tried to change the credential - no such experience :)
Maybe tried without credentials at all?

Yes, russian is my second native language :)

[2015-05-15 11:45] ishr00m commented on #152
I just commented this line but same situation. May be i can call you via skype or viber and you can bit help me with it? Russian is my native lang as well. I can pay some money for help. May also explain what i need from jasminsms.

[2015-05-15 11:49] texpert commented on #152
My Skype nick is tvorogov - you're welcome! Though, let's chat, not talk, I'm in the office at my job.

Also, I don't think I could be of much help here, moreover for the money :) Better to ask Fourat, the author of jasmin.

[2015-05-15 12:02] ishr00m commented on #152
Thanks, i added you. Anyway thread is open while problem is not solved. I will post here when it's solved. Any suggestions are welcomed.

[2015-05-15 12:05] zoufou commented on #152
Hello guys !

Can you please return the outcome of:

    netstat -anp --tcp|grep 8990

And then, stop the service and start Jasmin manually to **check if there's any issue**:

    # Stop service:
    sudo /etc/init.d/jasmind start
    # Start jasmin manually
    sudo /usr/bin/python /usr/local/bin/jasmind.py --username jcliadmin --password jclipwd

[2015-05-15 12:10] ishr00m commented on #152
Hi @zoufou. Thanks for involvement.
```sudo netstat -anp --tcp|grep 8990```
output is empty.

I did stop and start it manually - same result.

[2015-05-15 12:19] zoufou commented on #152
Since you get an empty outcome from  netstat you're in trouble, you have to ensure **redis-server** and **rabbitmq-server** service are started before (or after) Jasmin is started.

    # For ubuntu
    /etc/init.d/redis-server start
    /etc/init.d/rabbitmq-server start

[2015-05-15 12:29] tarikogut commented on #152
change ubuntu start priority

2015-05-15 15:19 GMT+03:00 zoufou <notifications@github.com>:

[2015-05-15 12:31] fjmalan commented on #135
@Bujail you can install the latest pip like this :
wget -c https://bootstrap.pypa.io/get-pip.py
python get-pip.py

That should solve your problem

[2015-05-15 16:25] zoufou commented on #152
@ishr00m any news ?

[2015-05-15 16:53] ishr00m commented on #152
Guys I'm finish my work day and will continue at Monday. Thanks for help and have nice weekend!

[2015-05-17 22:23] pguillem commented on #152
I experienced a similar situation with issue 144, which i think was solved and commited last week.

Do other services also fail to start when you uncomment their section in the config file?

I recall the only way i could run the app was to leave the config file empty or untouched.

Cheers
Pedro g

Sent from my iPhone

[2015-05-17 22:33] zoufou commented on #152
@pguillem this issue seems to be a different one from #144, let's wait for @ishr00m for more details.

[2015-05-18 03:32] ishr00m commented on #152
Actually I moved to kannel but jasmin is still installed on my test server, I will check soon everything and reply. Btw I tried to install jasminsms to 2 servers with fresh installed debian 7. In both cases I've got a some result

Отправлено с моего ASUS

-------- Исходное сообщение --------
Отправитель:pguillem <notifications@github.com>
Отправленные:Mon, 18 May 2015 03:23:06 +0500
Получатель:joo

[2015-05-19 21:05] zoufou opened #153 "Receipts are not transmitted to smpp client"
Received receipt is not being sent back to the user, rather Jasmin is sending its own ACCEPTED response. However, receipt has been properly received from the upstream smpp server.

[2015-05-19 21:43] zoufou commented on #153
Confirmed bug, Jasmin does not recognize receipts with uuid formatted id.

[2015-05-20 00:23] #153 closed

[2015-05-20 02:46] pguillem opened #156 "Updating Jasmin"
This might sound dull, but, Is there a way to fetch the latest commit via pip?
I'm a full time python newbie.

Thanks in advance

[2015-05-20 03:37] pguillem commented on #145
I have added the PySQLPool code.to @zoufou ´s gist
https://gist.github.com/zoufou/5701d71bf6e404d17cb4

Here is the code to launch the consumer as a system Daemon in Debian/Ubuntu
https://gist.github.com/pguillem/19693defb3feb0c02fe7

1) create jasmind_consumer file in /etc/init.d/
2) chmod a+x
3) Modify the path and script name of your consumer in jasmind_consumer
4)  Remember to exec "update-rc.

[2015-05-20 07:48] zoufou commented on #156
pip install --pre --upgrade jasmin

[2015-05-20 13:57] asgarciap commented on #156
Hi!
I got this error when I tried to upgrade jasmin:

[code]

I actually have a directory named /etc/jasmin/resource/

[code]

Thanks!

[2015-05-20 13:59] zoufou commented on #156
Try to uninstall then install, it seems to be an issue with the installer.

[2015-05-20 14:09] asgarciap commented on #156
But ... my configuration data (routing, etc). I will lost them.

[2015-05-20 15:22] zoufou commented on #156
Everything is in /etc/jasmin/store, you can save it anywhere before uninstalling.

But pay attention, you may run into troubles as your persisted data can be obsolete for some releases.

Jasmin is still in Beta, there's no backward compatibility checking for the moment.

[2015-05-20 16:56] asgarciap commented on #156
Hi,
After run ```pip uninstall jasmin``` the next directories remain in the host machine:

[code]
In order to install again I had to create the directories:

[code]

I think **all directories** should be marked to remove when uninstalling.
Besides that, after reinstall jasmin started OK.
Thanks.

[2015-05-20 17:28] zoufou commented on #152
Issue closed for not return.

[2015-05-20 17:29] #137 closed

[2015-05-20 17:29] #135 closed

[2015-05-20 17:30] zoufou commented on #134
Already fixed

[2015-05-20 17:30] #134 closed

[2015-05-20 18:12] asgarciap commented on #142
Hi!
Sorry for the delay update of this issue.
I tested it again and it still failing.

Now I've got this message in /var/log/jasmin/deliversm-thrower.log

[code]

A TCP capture shows only Enquire links messages, not Deliver_sm.

[code]

Content of /var/log/jasmin/default-smpps_01.log
[code]

Thanks!

[2015-05-20 21:11] asgarciap commented on #142
Thanks! .. I will test it again in a couple of minutes and I'll send feedback asap.

[2015-05-20 21:16] zoufou commented on #142
@asgarciap i'm waiting for the test to be finished before merging, i'll let you know so you can test again.

I've fixed the logging issue so now, we'll be able to see what was the error for your deliver_sm not sent.

[2015-05-20 21:16] zoufou commented on #142
you can follow the build here: https://travis-ci.org/zoufou/jasmin

[2015-05-20 22:42] zoufou commented on #142
@asgarciap hyg ! please re-test with 0.6b16 you should get the same error with comprehensive logging.

[2015-05-20 22:46] asgarciap commented on #142
Thanks!
Just to be sure, can I upgrade to this version with **pip** right?

[2015-05-20 22:50] zoufou commented on #142
yes ! or if you cloned the repo, just git pull it

[2015-05-20 23:38] asgarciap commented on #142
Ok. Here is my update!

Now the log indeed shows more detail...

/var/log/jasmin/deliversm-thrower.log
[code]
Maybe the comma shouldnt go there? ...  SystemIdNotBound('gemplussrv'**,**).

I changed the systemId parameter and now it works like a charm!  ... Deliver_sm has been received OK.

Thanks a lot for your help!

[2015-05-20 23:57] zoufou commented on #142
you're welcome !

[2015-05-21 15:45] pguillem opened #158 "Is it wise to filter ports 4369 and 25672 (beam/epmd)?"
It just came to my attention both erlang and rabbitmq listen to ports on the public net by default.
is it safe for jasmin to config their behavior to remain in localhost only?

[2015-05-21 19:50] zoufou commented on #158
Hi @pguillem, i know RabbitMQ is listening on 5672 by default and this is not something Jasmin can change, checkout how to configure it: https://www.rabbitmq.com/configure.html

[2015-05-21 21:44] zoufou opened #159 "SMPP Server: Omit sending deliver_sm receipt when receiving a submit_sm_resp receipt"

[2015-05-21 22:03] sah-anshu commented on #118
Hi zoufou
Can you please help me to develop a sample code.  I have an Existing table of PgSQL where i have to filter mobile numbers. and different table to match the sender name for the respective SMPP Login.

[2015-05-21 22:03] tarikogut commented on #118
which language
??

2015-05-22 1:03 GMT+03:00 Sah, Anshu <notifications@github.com>:

[2015-05-21 22:06] sah-anshu commented on #118
Python Using EvalPyFilter

- I have a doubt . I wish to maintain sync database connection using dbpool where this external filter process doesn't slow down the message routing possibility.

[2015-05-21 22:29] zoufou commented on #118
You can use a connection pooling to DB, and implement some caching layer so wont ask the database for the same number or prefix many time in a timelapse ... just an idea for tuning your filter.

[2015-05-21 22:31] sah-anshu commented on #118
yes, can you plz help me with any possible source code to start with.

[2015-05-21 22:32] zoufou commented on #118
Express what do you expect exactly from your filter ?

[2015-05-21 22:33] zoufou commented on #159
It will be optional and can be set through jasmin.cfg

[2015-05-21 22:35] zoufou opened #160 "Add throughput error tracking in all stats (SMPP Server, SMPP Client, HTTP)"
HTTP is already done.

[2015-05-21 22:38] sah-anshu commented on #118
I wish to filter 2 values wrt to the smpp account.
- 1- "receiver" :  we can match with the database  that the smpp account will not be able to send to those receivers.

-2 - "Sender" :  we shall be able to send from those allowed sender values only.

[2015-05-21 23:58] pguillem commented on #158
Great! thanks!

[2015-05-22 00:05] #158 closed

[2015-05-22 01:05] zoufou commented on #118
@sah-anshu checkout these F.A.Q. questions:

* http://docs.jasminsms.com/en/stable/faq/index.html#can-you-provide-an-example-of-how-to-use-evalpyfilter
* http://docs.jasminsms.com/en/stable/faq/index.html#how-to-set-an-evalpyfilter-for-a-mt-route

And by the way, make sure you update to 0.6b17 for better api stability

[2015-05-22 01:06] zoufou commented on #145
I've added your contrib to the F.A.Q: http://docs.jasminsms.com/en/stable/faq/index.html#how-to-log-messages-in-a-third-party-database

[2015-05-24 19:06] tarikogut commented on #133
jasmin sms working on rasppery pi2 :) i tested. gsm modems

[2015-05-25 11:48] zoufou opened #164 "Don't charge messages when sending SMS through SMPP returns an error in submit_sm_resp"

[2015-05-25 13:19] zoufou opened #165 "CentOS / Red Hat Jasmin init script seems to be not working properly"

[2015-05-26 00:44] zoufou opened #169 "Provide deb and rpm packages for Jasmin"

[2015-05-26 00:45] zoufou opened #170 "Dockerize Jasmin"

[2015-05-26 20:33] farirat opened #171 "Make Jasmin compatible with Python3"

[2015-05-26 21:38] farirat opened #172 "Add whitelist IP adresses for user to connect to SMPP/HTTP APIs"

[2015-05-26 21:42] #118 closed

[2015-05-26 21:42] #142 closed

[2015-05-26 21:42] #123 closed

[2015-05-26 21:43] #159 closed

[2015-05-26 21:43] #164 closed

[2015-05-26 21:43] #145 closed

[2015-05-26 21:43] #60 closed

[2015-05-26 21:45] #110 closed

[2015-05-29 11:40] zoufou opened #173 "Jasmin install with PIP 7.0.1 not working"
After performing an upgrade to version 0.6b18 I started getting the following error:

/etc/init.d/jasmind start
-bash: /etc/init.d/jasmind: No such file or directory

Downgrade PIP to earlier version fixed the issue (pip install -U 'pip<7.0')

-- Reported by Erwin

[2015-05-29 21:16] #165 closed

[2015-05-29 22:35] zoufou commented on #78
Similar to pypi packaging, deb/rpm shall not be automated, it will be kept as a manual process.

[2015-05-29 22:35] #78 closed

[2015-05-30 10:09] sah-anshu opened #175 "getting same message id while connecting smpp server with kannel"
I tried submitting sms via kannel to jasmin smpp server but i got same message id for all messages sent.
I guess, I am missing something in configuration.

Kindly advise.
kannel configuration is below:
================
group=smsc
smsc=smpp
smsc-id=dead
allowed-smsc-id = dead
host = XXXXXXXXXX
port = 2775
transceiver-mode = 1
receive-port = 2775
log-file = "dead.log"
log-level = 0
alt-charset = "AS

[2015-06-02 13:43] xamaxmacko opened #176 "Cyrillic characters in message"
Hello Team!  I've encoutered a problem with sending cyrillic characters.  I've sent message via HTTP-API with "coding" parameter set to 8 accodring to SMPP v3.4 spec, but have got just some random symbols
Here is my request:  http://myserver:1401/send?username=foo&password=bar&from=TestSender&to=my_phone_number&content=Привет&coding=8

Please advise how can i send cyrilliic characters.  Thanks in

[2015-06-03 20:33] sah-anshu commented on #175
please advice i am getting same message-id in submit_sm

Thanks in advance

[2015-06-03 20:35] sah-anshu commented on #176
please try with encoded value for "content" parameter this shall be solved.

[2015-06-03 20:37] #170 closed

[2015-06-03 20:37] #173 closed

[2015-06-03 21:21] #169 closed

[2015-06-03 21:23] zoufou commented on #173
Starting from 0.6b25, Jasmin is packaged in RPM and DEB, pip installation will remain for developers.

[2015-06-03 22:02] zoufou commented on #175
@sah-anshu i cant reproduce your issue !

Please check kannel logs attached below, you can see every message have its own msgid.

[raw.log | uploaded via ZenHub](https://files.zenhub.io/556f7954b282af931c501854)

[JASMIN.log | uploaded via ZenHub](https://files.zenhub.io/556f7955b282af931c501855)

[2015-06-03 22:12] zoufou commented on #176
@xamaxmacko welcome on board !

The http api is built just like the smpp one, it doesnt do any transformation/encoding/decoding on your message, so if you need to send cyrillic chars you just need to send cyrillic encoded chars and they will get delivered as is.

In your example, **Привет** is a utf8 encoded string.

Hope it's clear ..

[2015-06-03 22:19] zoufou opened #181 "Message state received in the receipt are not smpp-standard"
Final message state received in the receipt gets converted to its full name counterpart before getting transmitted in DLR to SMPP client.

Apparently, message state is converted to a constant whose mapped value is later used for generating a DLR for SMPP user, whereby providing a non standard value:

Current values:
message_state_name_map = {
    'ENROUTE': 0x01,
    'DELIVERED': 0x02,
    'EXPIRE

[2015-06-03 22:20] zoufou opened #182 "Messages having "GSM message class control" set, never get sent out"
When sending via SMPP, messages having "GSM message class control" set, never get sent out (1111XXXX - data_coding bits 4, 5, 6 and 7).
Smpp connector's log file contains "Sending PDU" information, but actual "Sending data" carrying encoded PDU is missing afterwards. Also no submit_sm can be found in the pcap file.

[2015-06-03 22:24] zoufou opened #183 "Wrong interpretation of the DLR receipt request"
I've noticed failing DLRs are not recognized properly and found a part where this logic is being handled (listeners.py):

	success_states = ['ACCEPTD', 'DELIVRD']
	final_states = ['DELIVRD', 'EXPIRED', 'DELETED', 'UNDELIV', 'REJECTD']
	# Do we need to forward the receipt to the original sender ?
	if ((pdu.dlr['stat'] in success_states and
	        str(registered_delivery.receipt) in ['SMSC_DELIVER

[2015-06-05 13:19] xamaxmacko commented on #176
Thanks for the help. Url encoding in UTF-16 has solved the problem

[2015-06-05 15:31] #176 closed

[2015-06-09 20:59] zoufou opened #184 "Error in submit_sm_errback: __init__() takes exactly 3 arguments (1 given)"
As reported in this [topic](https://groups.google.com/forum/#!topic/jasmin-sms-gateway/9LlIabLFCVo), user is getting strange errors in messages.log:

    2015-06-09 22:14:57 INFO     3939 SMS-MT [cid:test] [queue-msgid:fe6b0e6e-05de-43ad-a870-90556f822535] [smpp-msgid:Smsc2001] [status:ESME_ROK] [prio:0] [dlr:NO_SMSC_DELIVERY_RECEIPT_REQUESTED] [validity:none] [from:None] [to:77654] [content:salam

[2015-06-10 14:15] zoufou commented on #184
unproductible behaviour, closing issue.

[2015-06-10 16:51] zoufou commented on #184
Problem still existent as reported by the user, provided new log files with correct binding:

[service-smppclient.log | uploaded via ZenHub](https://files.zenhub.io/55786aebd947ac9f43fd129a)
[messages.log | uploaded via ZenHub](https://files.zenhub.io/55786aecd947ac9f43fd129c)
[default-smpps_01.log | uploaded via ZenHub](https://files.zenhub.io/55786aebd947ac9f43fd129b)
[smppclient-manager.log | u

[2015-06-11 09:34] texpert commented on #152
Guys, I found the problem with this issue - the port 2775 being already in use, jasmind is starting, but refusing telnet connections.

Changing the port in /etc/jasmin/jasmin.cfg [smpp-server] section, just to other non-used port, - have solved the issue.

I think jasmin should check the port availability and fail to start throwing an error, if the port is in use.

[2015-06-11 10:34] zoufou commented on #152
Hi @texpert !

You didnt get any error in logs saying the port is already in use ?

[2015-06-11 10:39] texpert commented on #152
Double-checked it - no, not a word in logs

[2015-06-11 12:33] zoufou opened #185 "Updating a user balance through PB does not get synced in jCli console"
As reported by Wakibi:

JCLI, and PB API seem to be consuming details from different places in memory. i.e after updating the user balances, it does not get reflected in the JCLI side. Not until I persist it to disk, and then reload it through JCLI. I thought they both consume from the same memory, as Jasmin is run in-memory as per documentation. Or maybe it's me that's not loading it correctly to

[2015-06-11 12:34] zoufou opened #186 "Changing persistence_timer_secs to 30 and authentication to True will block connections to Jasmin"
As reported by Wakibi:

When I change some parameters in the configuration file e.g persistence_timer_secs = 30 under [router] and authentication         = True under [jcli], I stop connecting to Jasmin, both through JCLI and PB API. Any clues on what am doing wrong?

[2015-06-11 16:28] zoufou opened #187 "RHEL 7 rpm is asking for twisted packages although they are installed"

[2015-06-11 19:22] zoufou commented on #184
User seems to be using an old release (v0.6b9), issue not reproduced in v0.6b23

[2015-06-12 12:39] zoufou commented on #185
This is a normal behaviour due to the PB design, objects are transmitted in a pickled (serialized) form with no direct memory address, when you update a user it gets update in client side and not on the backend (Jasmin).

To get what you're looking for (updating a user), you can use the **user_add** method with the **uid** or **username** of the user you're looking to update, Jasmin will translate

[2015-06-12 13:11] zoufou commented on #186
Unable to reproduce error, can you provide more information to help reproducing the issue ? any log files ?

[2015-06-12 17:03] wakibi commented on #186
Zoufou,

I am still getting the errors. however, when I try to find the open ports on my host, all ports used by jasmin seem to be open in both scenarios. Probably it's a config file issue?
![screenshot from 2015-06-12 19 36 31](https://cloud.githubusercontent.com/assets/12862946/8135162/a8522b40-113d-11e5-820b-bcc8d3231059.png)

Logs are below:
![screenshot from 2015-06-12 20 00 00](https://cloud

[2015-06-12 17:13] zoufou commented on #186
What do you get in **jcli.log** when you try to telnet into 8990 ?

[2015-06-12 17:19] wakibi commented on #186
Nothing, Nothing ever shows up there. Find jcli.log here in:
chris:/home/chris # chris@chris:~> telnet localhost 8990
chris@chris:~: command not found
chris:/home/chris # telnet localhost 8990
Trying ::1...
telnet: connect to address ::1: Connection refused
Trying 127.0.0.1...
telnet: connect to address 127.0.0.1: Connection refused
chris:/home/chris # tail -f /var/log/jasmin/jcli.log
2015-06-12 1

[2015-06-12 17:23] zoufou commented on #186
please provide outcome of the following commands:

    netstat -anp|grep 8990
    iptables -L
    telnet 127.0.0.1 8990

[2015-06-12 17:32] wakibi commented on #186
Find here in:

chris:/home/chris # iptables -L
Chain INPUT (policy DROP)
target     prot opt source               destination
ACCEPT     all  --  anywhere             anywhere
ACCEPT     all  --  anywhere             anywhere             ctstate ESTABLISHED
ACCEPT     icmp --  anywhere             anywhere             ctstate RELATED
input_ext  all  --  anywhere             anywhere
LOG        all

[2015-06-12 17:36] zoufou commented on #186
Please send me the not working jasmin.cfg

[2015-06-12 17:41] wakibi commented on #186
[jcli]
# If you want you can bind a single interface, you can specify its IP here
#bind                           = 127.0.0.1

# Accept connections on the specified port, default is 8990
port                            = 8990

# If authentication is True, access will require entering a username and password
# as defined in admin_username and admin_password, you can disable this security
# layer by

[2015-06-12 17:45] wakibi commented on #186
Please find the file attached. I have attached both the working, and the
one that's failing.

Cheers

On Fri, Jun 12, 2015 at 8:36 PM, zoufou <notifications@github.com> wrote:

--

Kind Regards
Wakibi Christopher

+256773861504 / +256700185883

I love what I do, and I know my worth...

[2015-06-12 17:55] zoufou commented on #186
please upgrade to 0.6b23 at least and tell if the problem persists

[2015-06-12 17:58] zoufou commented on #184
Issue still there with v0.6b23

[2015-06-12 18:22] wakibi commented on #186
Working fine... Apologies for taking you back. I had it installed from source, so I think I got an older version from GitHub. I will test the other bug I had reported and get back as well.

[2015-06-12 18:26] #186 closed

[2015-06-13 09:22] zoufou opened #188 "Rejecting for SMPP Connector unavailability can be enhanced"
* Log connector id
* Give a maximum number of retry

[2015-06-13 09:26] zoufou opened #189 "Billing - raise rate value precision"

[2015-06-13 09:27] zoufou commented on #185
The user stats must be kept after *updating* user, same thing for any udateable object through PB.

[2015-06-13 12:33] zoufou commented on #188
Added a new jasmin.cfg arg in *sm-listener* section:

    # The maximum number of seconds a message can stay in queue waiting for SMPPC to get ready for
    # delivey (connected and bound).
    #submit_max_age_smppc_not_ready = 1200

[2015-06-14 12:46] #181 closed

[2015-06-14 12:46] #182 closed

[2015-06-14 12:46] #183 closed

[2015-06-14 12:46] #184 closed

[2015-06-14 12:46] #185 closed

[2015-06-14 12:46] #188 closed

[2015-06-14 18:02] zoufou opened #192 "Make persisted configurations compatible after upgrading Jasmin"
Persisted configuration (in /etc/jasmin/store) are simple pickled Jasmin objects, loading persisted configuration remains valid only when object classes didnt change after an upgrade.

If it is not the case (ex: User class changed), the persisted data will be obsolete and it's very annoying !

-- reported by many users

[2015-06-14 19:39] zoufou opened #193 "Add static code analysis for quality assurance"
May use www.codacy.com

[2015-06-19 15:13] xamaxmacko opened #194 "Trouble with adding Filter ro Router"
Hello community.

I've faced the proble with creating multiple routes.

I've created SourceAddrFilter and tried to set it to a StaticMTRoute.

The result is here:

jcli : mtrouter -a
Adding a new MT Route: (ok: save, ko: exit)

jasmin.routing.Routes.StaticMTRoute arguments:
filters, connector, rate

SourceAddrFilter#test is not a valid filter for MTRoute

Can you please advise how can I make the r

[2015-06-19 15:16] raamtg commented on #194
Can you show us your filter settings? You will have to add a source address
filter first, using *filter -a* if not already done so.

See here:
http://docs.jasminsms.com/en/latest/management/jcli/modules.html#filter-manager

Hope this helps...

On Fri, Jun 19, 2015 at 11:13 AM, xamaxmacko <notifications@github.com>
wrote:

[2015-06-19 15:18] xamaxmacko commented on #194
The filter is created.

Here are the settings of it :

jcli : filter -s test
SourceAddrFilter:
source_addr = ^38095+

[2015-06-20 20:44] zoufou opened #195 "Jasmin doesnt recognize DLR in MO (deliver_sm) received from another Jasmin instance"
Here's an example:

    id:c87c2273-7edb-4bc7-8d3a-7f57f21b625e submit date:201506201641 done date:201506201641 stat:DELIVRD err:000

[2015-06-21 11:51] zoufou opened #196 "Evalpy filter issues"
After creating an evalpy filter and adding it to a route, as soon as the message is sent jcli mtrouter command stops working. if, for example, "mtrouter -l" command is executed, jcli console exits with the "Connection closed by foreign host" message. Then jasmin service needs a restart.

Additionally, message never gets properly routed as neither username nor user_id is successfully matched to the

[2015-06-21 12:12] #175 closed

[2015-06-21 12:24] zoufou commented on #194
Confirmed issue, will be fixed in next release.

Please watch this issue to know when it will be closed.

[2015-06-21 12:29] zoufou commented on #194
@xamaxmacko i've double checked and sorry, it is not a bug ! it is a normal behaviour:

You are not allowed to route **MT** traffic based on source address, here's the filters you can use for MT routes:

    MTFILTERS = ['TransparentFilter', 'UserFilter', 'GroupFilter', 'DestinationAddrFilter',
             'ShortMessageFilter', 'DateIntervalFilter', 'TimeIntervalFilter', 'EvalPyFilter']

And MO f

[2015-06-21 12:29] #194 closed

[2015-06-21 13:12] zoufou commented on #196
I've tried to reproduce the issue with no success, here's what i did:

    sername: jcliadmin
    Password:
    Welcome to Jasmin console
    Type help or ? to list commands.

    Session ref: 2
    jcli : filter -l
    #Filter id        Type                   Routes Description
    #fMT1             UserFilter             MT     <UserFilter (uid=u1)>
    Total Filters: 1

    jcli : filter -a

[2015-06-21 13:19] zoufou opened #197 "Update installation instructions doc"
We should update the installation instructions to have a separate page/section for each distribution like what RabbitMQ did for instance.

Because things like update-rc.d jasmind defaults is not applicable for RHEL. Instead, on the rhel instructions page, we need to say that they should do sudo chkconfig jasmind on.

[2015-06-21 13:21] zoufou opened #198 "Documentation must consider executing commands by user and not by root, using sudo"

[2015-06-21 13:22] zoufou opened #199 ""programming examples" should come AFTER HTTP API, SMPP Server API and "The message router""
Since we are saying on this page that it is assumed that users have read these pages already.

[2015-06-21 13:23] zoufou opened #200 "HTTP API processing call flow: what happens when retries > max_retries?"

[2015-06-21 13:24] zoufou opened #201 "Billing: replace submit_sm_count by sms_count"

[2015-06-21 13:25] zoufou opened #202 "User FAQ: should say sudo pip install python-jasmin"

[2015-06-21 13:26] zoufou opened #203 "Routes (MO & MT) must be updateable"
Actually, the unique way to do so is to remove and add the route again.

[2015-06-21 13:29] zoufou commented on #189
Do same thing when showing user balance

[2015-06-21 13:31] #189 closed

[2015-06-21 22:51] #61 closed

[2015-06-21 22:54] zoufou commented on #156
pip installation is no more considered for production, you may use rpm/deb packages.

pip remains for developers.

[2015-06-21 22:54] #156 closed

[2015-06-21 22:54] #52 closed

[2015-06-22 07:03] ed-irwane commented on #196
I suppose the best is to provide entire configuration causing the described issue.

[code]

Smppc list is provided to show which one was actually connected.

Script file **/tmp/evalpy-test.py** looks like this:

[code]

I've established SMPP connection and sent the message using the following details:

[code]

Given the username, message was **NOT** supposed to end up on smppc(CONNECT04), but that

[2015-06-22 07:55] xamaxmacko opened #204 "Filters are dissappearing"
Hello community!

I've faced a strange issue.

Everytime I create any filter...in approximately 30-40 minutes they just dissapear.

filter -l gives me the result: Total Filters: 0

Has anybody faced this issue before?

[2015-06-22 08:39] zoufou commented on #204
@xamaxmacko strange issue !

What Jasmin version are you using ? and can you tell some details so i can try to reproduce the issue ?

[2015-06-22 10:20] xamaxmacko commented on #204
I've found that this issue is not about certain amount of time.
Here is scenario:
1. Telnet to jcli.
2. Creating a filter.
3. Quitting jcli.
4. Telnet again to jcli.
5. There is no filter!!!

So this issue is about using different telnet sessions.

Please tell me how to check Jasmin version?

[2015-06-22 10:32] zoufou commented on #204
How much time from step 3 to 4 ?
And do you have activity on the gateway ? (connected users ? messages ? ...)

Here's how to get jasmin's version:

    python -c "import jasmin;print jasmin.get_release();"

[2015-06-22 10:49] xamaxmacko commented on #204
How much time from step 3 to 4 ?

Just about couple of seconds. Made the filter, finished the session and started new one at once.

The version is 0.6b18

[2015-06-22 10:53] zoufou commented on #194
@xamaxmacko you can still use **EvalPyFilter** which offer you all you need.

[2015-06-22 10:57] zoufou commented on #204
Please update to 0.6b26 and test again.

[2015-06-22 13:31] xamaxmacko commented on #204
We've just done update and tried again. The result is still the same. I can't find filter after finishing session and starting the new one

[2015-06-22 14:11] zoufou commented on #204
@xamaxmacko please send me an email to fourat@gmail.com so we can launch a live session to check what's happening.

[2015-06-22 14:14] xamaxmacko opened #205 "No DLR From Jasmin"
Hello community.

I've noticed that while using the scheme ESME - Jasmin- SMSC, Jasmin doesn't give back delivery reports to the ESME. I mean Jasmin got the report from SMSC but he doesn't throw it back to ESME.

Are there any specific settings to make it work?

[2015-06-22 14:33] zoufou commented on #205
Please follow these instructions:

* Activate SMPP Server debug level in logs
* Activate SMPP Client debug level in logs
* Redo your test
* Send you **smpp client log**, **default-smpps_01.log** and **messages.log**

[2015-06-22 16:35] zoufou commented on #204
Bug confirmed, filters are lost when jasmin is started with non default username **jcliadmin**.

[2015-06-22 16:45] zoufou commented on #204
After testing, it seems to not to be a bug: **filters** and **httpccs** are helpers for creating routes and connectors, they only live in the current session, if you need them to live more, persist them to disk with **persist**.

[2015-06-22 16:45] #204 closed

[2015-06-22 21:52] zoufou opened #206 "FAQ: Using EvalpyFilter in some advanced cases"

[2015-06-22 23:40] zoufou opened #207 "When reloading data from disk for first time, initialize stats for connectors and users"

[2015-06-23 00:39] #193 closed

[2015-06-23 00:39] #196 closed

[2015-06-23 00:39] #200 closed

[2015-06-23 00:39] #206 closed

[2015-06-23 00:42] zoufou commented on #196
@ed-irwane this issue is closed in v0.6b27 so please update to get rid of it.

You have two issues:

* There's a pickling bug fixed in the v0.6b27, this will get rid of the "Connection closed ..." error
* Your filter will still not work because it is not due to the bug, you are getting it wrong when comparing **routable.user** to a string **'Evalpyusr2'** !

Explanation:
As described in http://doc

[2015-06-23 12:50] xamaxmacko commented on #205
Hello!

I've tried to set the  log level to DEBUG like this:
 log_level                       = DEBUG, removed the # sign. But I'm still geting only INFO level.

What am I doing wrong?

[2015-06-23 13:07] zoufou commented on #205
Can you send me your jasmin.cfg file ?

[2015-06-24 08:40] xamaxmacko commented on #205
Hello. This is full list of settings for smpp-server

[smpp-server]

# SMPP Server identifier
#id                                     = "smpps_01"

# If you want you can bind a single interface, you can specify its IP here
#bind                           = 0.0.0.0

# Accept connections on the specified port, default is 2775
#port                           = 2775

# Timeout for response to bind req

[2015-06-24 09:01] zoufou commented on #205
seems okay since you have it uncommented.

did you restart jasmin ?

[2015-06-24 10:10] xamaxmacko commented on #205
Yes, sure. I've restarted it at as soon as I made changes.

[2015-06-24 14:21] zoufou opened #210 "Recognize msg id when returned in deliver_sm with different encoding (int or hex)"

[2015-06-24 14:22] zoufou commented on #205
Issue related to #210

Will close this one

[2015-06-24 14:22] #205 closed

[2015-06-24 15:22] zoufou commented on #192
There's no actual clean way to make persisted config live any release update without problems, work is done to:

* Tag the current release in persisted config (in files), this will help user identify the original version of the persisted data
* Will try to cover any breaking change in api to accept old data

[2015-06-24 15:22] #192 closed

[2015-06-24 16:14] pguillem opened #212 "ERROR 31008 Connection lost. Reason: [Failure instance: Traceback (failure with no frames): <class 'twisted.internet.error.ConnectionLost'>: Connection to the other side was lost in a non-clean fashion: Connection lost."
Any comments on this error message?
It happens after i send each message via SMPP.

It seems jasmin restarts the connection afterwards... but it shows up after every message.

[2015-06-24 16:35] pguillem opened #213 "Charset"
Is there a specific place to configure wether to encode the messages as UNICODE or ASCII in jasmin ?
I'm sending the "@" character but it gets translated to a "?" symbol backwards.

[2015-06-24 19:20] zoufou commented on #212
weird issue ! do you observe this with a specific connector ?

Please procede as below:

* Activate debug log and share the log after sending some messages
* Send a pcap file containing the smpp traffic

[2015-06-24 19:21] zoufou commented on #213
Using http or smpp ? a pcap file with input and output stream would be helpful

[2015-06-24 19:22] #202 closed

[2015-06-24 19:40] pguillem commented on #213
Thanks zofou

Its happening in smpp.
Smpp. I'll dump a pcap today.

Best
Pedro

PEDRO M. GUILLEM
CTO
ETHERVOICE SAS ESP
Mobile: +57 3138534598
E-mail: pedro.guillem@ethervoice.net
www.ethervoice.net
Bogotá - Colombia

[2015-06-24 20:39] pguillem opened #214 "COctetstring is longer than allowed Maximum size"
When sending via SMPP, this message kept poping in the default outgoing log:

PDUParseError: Message ID is invalid: COctetString is longer than allowed maximum size (9)

I had to manually modify pdu_encoding.py and set the self.maxSize variable to 160.

I believe the error was accounting for the lenght of my username to the remote SMPP server. But after setting this variable to something like 25 (

[2015-06-24 20:45] zoufou commented on #214
Can you provide pcap ?

[2015-06-25 06:36] xamaxmacko commented on #203
Hello!

Please advise how to remove the route. They don't have any ID's so what is the way of removing them?

[2015-06-25 08:26] zoufou commented on #203
a route have a unique order:

    mtrouter -l
    #Order Type          Rate     Connector ID(s)    Filter(s)
    #2000  StaticMTRoute 0.00000  smppc(CONNECT01)   <EvalPyFilter (pyCode=if routabl ..)>

To remove it:

    mtrouter -r 2000

[2015-06-25 12:56] zoufou opened #217 "Add contact emails and numbers for users"
These will be used for notifications (balance, traffic, access, problems ...)

[2015-06-25 14:17] #195 closed

[2015-06-25 14:17] #207 closed

[2015-06-25 14:17] #210 closed

[2015-06-25 16:00] raamtg opened #218 "NULL terminated characters in the message field returns ESME_RINVMSGLEN"
Hello,

The Jasmin SMS Server doesnt support NULL terminated characters in the message field of the SubmitSM PDU. Although the specs are not very clear on this item, it would be good to support it just in case some SMPP clients cannot turn off this.

See section 3.1 here:
http://www.activexperts.com/sms-component/smpp-specifications/pdu-type-format-definitions/

WITH null-terminated characters:

2

[2015-06-25 16:33] raamtg commented on #198
Please close, fixed as part of "minor edits" to installation instructions.

[2015-06-25 16:33] #198 closed

[2015-06-26 00:15] #199 closed

[2015-06-26 00:15] #201 closed

[2015-06-26 15:44] balsagoth commented on #104
Hi Fourat,

bind_ton is working fine, but src_ton is not working in the last release 0.6b28

smpp client config
[code]
log on submit_sm operation
[code]

[2015-06-26 16:23] balsagoth commented on #88
Hi, me too! Can we discuss the framework to use?

[2015-06-26 16:36] pguillem commented on #88
Count with me too

[2015-06-26 16:47] zoufou commented on #88
From what i know @tarikogut is preparing some serious work for a sms hub oriented panel.

As for the roadmap, the web panel is planned for 0.7, i have some draft works, i'm preparing some boilerplate with a full angularjs/rest application on top of django rest framework.

[2015-06-26 17:05] tarikogut commented on #88
http://prntscr.com/7ln31g see schedule task birthday sms

sorry i cant speaking english.

[2015-06-26 20:25] pguillem commented on #88
Angular sounds put. I'll gladly contribute

[2015-06-28 00:58] zoufou opened #221 "Limit the user password length to 8 chars"

[2015-06-29 21:02] zoufou commented on #104
Confirmed bug

[2015-06-29 21:27] zoufou opened #222 "SMPPc: updating loglevel update wont take effect for online connector"

[2015-07-01 00:04] weiqiwang opened #223 "After an update installation, I can not send sms any more"
I try to use apt-get to update python-jasmin.  and load the exists configration. then I can not send any sms. My provider told to me "numbers are not in international E.164 format"  Because I never change any configration, so there may be an issue in the new version. Report it here.

this is my configration:
==========================================
jcli : smppccm -s voxbone
ripf 0
con_fail_delay

[2015-07-01 00:09] tarikogut commented on #223
not possible

2015-07-01 3:04 GMT+03:00 Weiqi Wang <notifications@github.com>:

[2015-07-01 10:18] zoufou commented on #223
@weiqiwang What's the problem ? do you get your messages rejected ? or just undelivered ? any log to show ? please provide more info.

[2015-07-01 23:21] zoufou opened #224 "Parse receipts having only receipted_message_id and message_state optional parameters"

[2015-07-02 22:50] pguillem opened #225 "Autosplit messages"
Hello all

is jasmin splitting the SMS when exceeding 140 bytes of text? or at least is there a trace of such actions?

I noticed this particular 139 char message attempt was sent in UCS2 encoding and the status returned by the ESME was not updated in the rabbit queue. However the ESME did split the message in 3 and billed me 3 messages,as if it was a 140 char unicode message. The status in jasmin

[2015-07-02 23:04] zoufou commented on #225
ERROR 11320 Request timed out after 60 secs

That means you upstream connector didnt reply back with **submit_sm_resp** so the initial request (which is **submit_sm**) has timed out.

[2015-07-03 03:47] #222 closed

[2015-07-03 05:33] zoufou opened #227 "Provide a log rotation mechanism for all jasmin logs"

[2015-07-03 08:03] xamaxmacko opened #228 "Statistics on SMS"
Hello.

Please advise will be any statistics on sent/received/delivered SMS implemented in future?

Or is there any possibility to check this statistics via telnet?

[2015-07-03 10:39] xamaxmacko opened #229 "SMS Transction timeout"
Hello!

Please advise what is timeout for one SMS transaction(submit_sm + submit_sm_resp).

Is there any possibility to tune it up manually?

[2015-07-03 14:51] zoufou commented on #228
There's a stats module in jcli: http://docs.jasminsms.com/en/latest/management/jcli/modules.html#stats-manager

[2015-07-03 14:54] zoufou commented on #229
Check the smppc connector parameters here: http://docs.jasminsms.com/en/latest/management/jcli/modules.html#smpp-client-connector-manager

And especially:

    res_to	Timeout for responses to any request PDU
    trx_to	Maximum time lapse allowed between transactions, after which, the connection is considered as inactive and will reconnect
    pdu_red_to	Timeout for reading a single PDU, this is th

[2015-07-03 17:13] zoufou commented on #104
@balsagoth please upgrade to 0.6b31, this issue is fixed

[2015-07-03 17:13] #104 closed

[2015-07-03 21:48] #92 closed

[2015-07-03 21:48] #221 closed

[2015-07-03 21:48] #224 closed

[2015-07-03 21:48] #227 closed

[2015-07-03 22:26] #197 closed

[2015-07-03 23:33] xamaxmacko commented on #229
How the Jasmin behaves in the next scenario:

Jasmin sends submit_sm to the SMSC, but get no submit_sm_resp in timeout that set in settings?

[2015-07-03 23:36] xamaxmacko commented on #228
I've checked this module, but there is no such information there. No SMS counting

[2015-07-04 13:56] zoufou commented on #229
It will end any outbound transaction and stop the connector, considering the connection is down.

[2015-07-04 13:58] zoufou commented on #228
Here's an example:

    jcli : stats --user fourat
    #Item                     Type         Value
    #last_activity_at         SMPP Server  2015-07-03 22:47:08
    #bind_count               SMPP Server  1
    #bound_connections_count  SMPP Server  {'bind_transmitter': 0, 'bind_receiver': 0, 'bind_transceiver': 0}
    #submit_sm_request_count  SMPP Server  3
    #qos_last_submit_sm_at    SMPP Se

[2015-07-04 14:19] zoufou opened #233 "Sending SMS through httpapi while setting dlr-url is not working"

[2015-07-04 14:22] zoufou opened #234 "HTTP/SMPP: Message goes to a dark hole, not sent through SMPPc"
Issue reported by few users, seems to be the result of stopping/starting Jasmin few times.

As an actual workaround, restart rabbitmq everytime Jasmin is started, this will clean all current queue bindins.

[2015-07-04 15:21] zoufou commented on #233
Not confirmed bug ! related to #234

[2015-07-04 15:21] #233 closed

[2015-07-04 16:19] sah-anshu commented on #88
lets keep web module and jasmin independent to eachother and shall have some method to communicate each other.

[2015-07-04 16:22] sah-anshu opened #235 "can we pick messages directly from any database table"
Hi
if it is possible to enqueue sms to jasmin directly from any database mysql /pgsql.

please advise.

[2015-07-04 17:20] zoufou commented on #235
Please clarify, you want to send messages from db ?

[2015-07-04 17:31] sah-anshu commented on #235
yes , say we have 10K record to send sms, then giving 10k request via curl can be time consuming. it shall be easy if jasmin could pick directly from db

[2015-07-04 17:40] zoufou commented on #235
@sah-anshu it can be done as a wrapper to httpapi, or even at a lower level: perspective broker api (which httpapi and smpps are wrappers of it), anyway, this is a feature to be voted to be set in roadmap or provided as a contrib to the project.

[2015-07-04 21:23] xamaxmacko commented on #229
What will be sent to ESME for example, the message was received from?

[2015-07-04 21:24] zoufou commented on #229
Sorry but i dont get you

[2015-07-04 21:25] xamaxmacko commented on #228
Is there any possibility to see how many messages were delivered?

[2015-07-04 21:39] zoufou commented on #228
There's actually no stat for that, gonna create an issue for it so it can be in next release (b34).

By the way, if you need to build an advanced dashboarding on top of Jasmin, the jcli's stats are not intended for that, they are for operational monitoring and not business reporting.

Jasmin is not providing business reporting as users tend to desire differently, Jasmin will provide you raw data t

[2015-07-04 21:39] #228 closed

[2015-07-04 21:46] pguillem commented on #228
Zoufou contributed a rabbit listener to dump event driven delivery results 2 months ago. I modified his script to dump each message to mysql and further update the final delivery status on a table.

Check issue 142 (or 144, i can't remember). Works good for accounting traffic.

[2015-07-04 21:46] zoufou opened #236 "Add submit_sm and deliver_sm stats in SMPPs, SMPPcs and HTTPapi"

[2015-07-05 23:06] balsagoth commented on #104
I have done the upgrade and the issue is fixed.
Thanks

[2015-07-06 16:17] zoufou opened #239 "Throwing DLR to http connector: 501 Not Implemented (get)"

[2015-07-06 16:48] zoufou opened #240 "Queues in deliver.sm.CID are growing even if the messages are delivered to http connector"

[2015-07-06 18:42] zoufou opened #241 "Upgrading to 0.6b33 will lead to an error with stored SMPPc configurations"
As reported by Ivan:

    2015-07-05 23:17:25 ERROR    3387 Unknown error occurred while loading configuration: 'JCliSMPPClientConfig' object has no attribute 'log_rotate'

[2015-07-07 04:29] #239 closed

[2015-07-07 04:29] #240 closed

[2015-07-07 04:29] #241 closed

[2015-07-07 12:39] raamtg commented on #187
As a workaround, do this in the meantime.

[root@ip-172-31-43-24 tmp]# yumdownloader python-jasmin
Loaded plugins: amazon-id, rhui-lb
Delta RPMs disabled because /usr/bin/applydeltarpm not installed.
python-jasmin-0.6.35-1.el7.centos.noarch.rpm

[2015-07-07 12:42] zoufou commented on #187
@raamtg you can fix the packager directly by forking the  project used to package the rpms: https://github.com/jookies/jasmin-packager

It's using docker, you have to install it.

[2015-07-07 15:14] pguillem opened #246 "Encoding troubles with GSM328"
Is jasmin able to forward latin encoding or shift tables for the gsm 3.28 standard?

How does jasmin handles the charset of an individual message? Is it up to the originator? Or will it accomodate the charset upon the contents of the message itself?

I've noticed it handles UCS2 well but the message is splitted in 3 smaller 70 char messages when it reaches the ESME. As expected.

My questions:

1)

[2015-07-08 08:42] akrus commented on #235
+1 here :)

[2015-07-08 23:21] zoufou opened #247 "Requeue messages when SubmitSMResp is not received (timed out)"
When the upstream connector does not reply back with submit_sm_resp the SMPPc considers the connection as corrupt and will disconnect/reconnect again, meanwhile, the initial submit_sm is not retried and no feedback is given to the user sending this pdu.

This issue must be fixed so the submit_sm is retried again with a requeue_delay (default is 120s) configurable in the SMPPc config.

[2015-07-08 23:35] zoufou commented on #229
Issue is continued in #247

[2015-07-08 23:35] #229 closed

[2015-07-09 02:51] #247 closed

[2015-07-09 04:33] sah-anshu commented on #235
+1 Yes, Then it will be easy to migrate from kannel to Jasmin

[2015-07-09 11:00] zoufou opened #250 "Provide a way to update user's balance by adding instead of setting"

[2015-07-11 01:40] zoufou opened #251 "RouterPB and SMPPClientManagerPB must provide a callable method returning Jasmin's version"

[2015-07-11 01:47] farirat opened #252 "Provide a way to generate expirable tokens for user to be used in SMPP and HTTP APIs"

[2015-07-11 19:51] zoufou opened #253 "Provide a /ping resource in Jasmin's http api for pinging Jasmin from Gardenia"

[2015-07-13 10:13] lilslimxdg opened #254 "No package python-jasmin available"
curl -s https://packagecloud.io/install/repositories/jookies/python-jasmin/script.rpm.sh | sudo bash
sudo yum install python-jasmin

The curl was fine and when I do this, it said that "No package python-jasmin available", how to fix this?
thanks for responding

[2015-07-13 10:24] zoufou commented on #254
What's your OS and version ?

[2015-07-13 10:25] lilslimxdg commented on #254
I'm using centos 6.5

[2015-07-13 10:30] zoufou commented on #254
There's no packaging for CentOS 6.x, it's only for CentOS 7.x: http://docs.jasminsms.com/en/latest/installation/index.html#rhel-centos

[2015-07-13 10:30] #254 closed

[2015-07-13 10:32] lilslimxdg commented on #254
wow thank you :(

[2015-07-13 15:16] zoufou opened #255 "Consult balance through http api"

[2015-07-13 15:17] zoufou commented on #254
You can still install through the pypi process: http://docs.jasminsms.com/en/latest/installation/index.html#pypi

[2015-07-13 23:03] zoufou opened #256 "Bad long message concatenation for UCS2 (coding = 8)"
As reported by Majid here: https://groups.google.com/forum/#!topic/jasmin-sms-gateway/tv1IeQo1KKc

It seems there's an issue with ucs2 long messages, bug confirmed after testing:

	#!/usr/bin/python
	# -*- coding: utf-8 -*-
	# Python example
	# http://jasminsms.com
	import urllib2
	import urllib
	import binascii
	import sys

	reload(sys)
	sys.setdefaultencoding('utf8')

	baseParams = {'username':'

[2015-07-14 04:50] lilslimxdg opened #257 "Error in starting service jasmind"
I'm using centos 7, I've installed all the needed prequisite packages
to the step which using "invoke-rc.d jasmind start" on centos 7 give me command not found so I'm using:
[root@localhost ~]# systemctl start jasmind
Give me status below, seems like the service haven't started properly, I still don't know why
[root@localhost ~]# systemctl status jasmind
jasmind.service - LSB: Jasmin SMS Gateway

[2015-07-14 13:16] raamtg commented on #257
From the looks of the errors, it seems you are using the Ubuntu start up scripts for your CentOS installation e.g. invoke-rc.d is ubuntu only as far as i know.

For CentOS, try service jasmind start.  I will get the documentation fixed accordingly.

This is how it looks in my environment (running RHEL 7).

[ec2-user@ip-172-31-43-24 ~]$ service jasmind start
Starting jasmind system service jasmind[

[2015-07-14 15:15] zoufou commented on #257
Yes Raam that was the issue, @lilslimxdg is using Ubuntu's script inside CentOS, please consider using the CentOS one from the installation docs.

@raamtg, and in same time, this is also something to be enhanced in the packager so Jasmin will be **invoke** -able in CentOS.

[2015-07-14 15:15] #257 closed

[2015-07-15 22:04] zoufou opened #258 "Add feature to check route rate through http api"

[2015-07-15 23:09] zoufou opened #259 "When route is not found, submit_sm_resp must return ESME_RINVDSTADR instead of ESME_RSYSERR"
it was reported that Kannel would resend the SubmitSm if it gets a ESME_RSYSERR, so it will be better to have a clear error for routing: ESME_RINVDSTADR

[2015-07-15 23:19] zoufou commented on #217
Since this going to be provided through Gardenia, feature is removed from Jasmin's roadmap

[2015-07-15 23:19] #217 closed

[2015-07-17 01:22] farirat opened #260 "Keep track/log of any user critical information update"
Like balance updates, quotas, authorizations ...

[2015-07-17 13:11] zoufou opened #261 "httpapi: get user authorizations"

[2015-07-17 13:14] zoufou commented on #261
This is not a good security practice, feature denied

[2015-07-17 13:14] #261 closed

[2015-07-17 17:40] #77 closed

[2015-07-18 17:48] zoufou commented on #228
@xamaxmacko in v0.6b37 you'll get more stats about sent/received messages in SMPP server api, http api and user profile.

[2015-07-18 19:15] #251 closed

[2015-07-18 19:15] #253 closed

[2015-07-18 19:15] #259 closed

[2015-07-18 19:15] #160 closed

[2015-07-18 19:15] #236 closed

[2015-07-18 19:15] #250 closed

[2015-07-18 19:15] #255 closed

[2015-07-18 19:15] #256 closed

[2015-07-18 19:15] #258 closed

[2015-07-20 08:29] zoufou opened #264 "Users reporting persisted configuration loss after upgrading Jasmin"

[2015-07-20 08:48] #225 closed

[2015-07-20 08:51] zoufou opened #265 "Running "invoke-rc.d jasmind start" many times will start Jasmin many times"
There must be a process locking to avoid getting many Jasmin instances running.

[2015-07-20 10:19] zoufou commented on #264
It's reported that the upgrade were made through pip while the install is made through yum ..

[2015-07-22 13:19] sotoz opened #266 "Dlr-level problem"
Hello,
I'm setting the dlr-level=3 on the http request while I'm sending an SMS but jasmin is considering the request as a level 1 and is sending the sms-c level 1 dlr parameters only to my dlr-url.

My http request is like:
[code]

The message is delivered on the mobile device and I'm getting a DLR that the message is received at messages.log
[code]

An example dlr in the dlr-thrower.log is the f

[2015-07-22 17:17] zoufou commented on #266
Trying to reproduce this case, i'll get back to you.

[2015-07-22 23:01] zoufou commented on #266
This is not an issue, everything is clear in this line:

    WARNING  23686 Got a DLR for an unknown message id: 1000000402564282 (coded:38d7ebcc524ba)

Here's a F.A.Q. entry on this subject: http://docs.jasminsms.com/en/latest/faq/users.html#when-receiving-a-dlr-got-a-dlr-for-an-unknown-message-id

You have to set **dlr_msgid** to the right value in the SMPP client connector configuration.

[2015-07-22 23:07] zoufou commented on #223
UP !

[2015-07-22 23:35] weiqiwang commented on #223
Messages are not rejected at my end. It looks like normal. and I can get a success information. but in my provider end (Voxbone.com) the system log said "numbers are not in international E.164 format"
So the messages is not delivered to my customer. I have another server which is not upgrade, it works well.

I can not find the error from jasminsms logs. and I do not have other log. I will try rein

[2015-07-23 00:05] weiqiwang commented on #223
new problem, when I tried to reinstall jasmind, I can not be success.
I got this error messages:

Preparing to unpack .../python-jasmin_0.6.37-1_all.deb ...
invoke-rc.d: initscript jasmind, action "stop" failed.
dpkg: error processing archive /var/cache/apt/archives/python-jasmin_0.6.37-1_all.deb (--unpack):
 subprocess new pre-installation script returned error exit status 11
Errors were encounte

[2015-07-23 00:12] zoufou commented on #223
It's an issue with the deb packager, fixed for next 0.6b38 release.

For the moment, you can follow this workaround:

* Start actual Jasmin version
* apt-get upgrade python-jasmin

If there still an issue, then:

* Backup your /etc/jasmin/store folder if you have any persisted data
* Uninstall Jasmin: apt-get --purge remove python-jasmin
* Install it again: apt-get install python-jasmin

[2015-07-23 01:05] weiqiwang commented on #223
The fresh new installation works well. Thank you for your excellent work.

[2015-07-23 08:09] sotoz commented on #266
I have seen that the problem got resolved by its own when I added another smpp connector with adifferent smpp server.
The dlr thrower shouldn't report the level as 3 and not as 1 (as you can seen in the log line that I gave)?

[2015-07-23 12:14] #223 closed

[2015-07-23 12:16] zoufou commented on #266
The thrower reported level1 for receiving the submit_sm_resp, then didnt report level3 since deliver_sm was not handled correctly.

Did i misunderstood something .?

[2015-07-23 21:40] zoufou opened #267 "Error in submit_sm_errback: 'NoneType' object has no attribute 'get'"
error perceived in **messages.log**, just after:

    Error in submit_sm_errback: __init__() takes exactly 3 arguments (1 given)

No more sending is done after having this error.

[2015-07-23 22:23] zoufou commented on #267
Error comes after receiving a vendor specific error in submit_sm_resp from RouteSMS: RESERVEDSTATUS_VENDOR_SPECIFIC

[2015-07-23 23:11] zoufou opened #268 "Make requeuing of timed out submitsm configurable"
Requeuing timed out SubmitSmPDU may charge the message many times if the upstream connector is slow, make a configuration to silently drop messages.

Provide better logging for:

    SubmitSmPDU request timed out, message requeued.

to indicate the requeued message.

[2015-07-24 07:27] sotoz commented on #266
Nope, you understood correctly. I just made a false assumption that the dlr-thrower should show the dlr-level that was submitted through the http api request.

[2015-07-24 07:27] #266 closed

[2015-07-24 07:35] sotoz opened #269 "PDUParseError while using SMPPSimulator"
Hello.
I have added an smpp connector to the SMPPSimulator by Selenium to test big bulk sms sending. The SMPPSimulator is running locally on the server and I'm seeing some errors on the default-smppsim.log file when sending > 1000 messages. As far as I have seen, this error only appeared when I used the route that has the smpp simulator. When sending to real smscs I haven't seen that error at all.

[2015-07-24 21:24] chavezmx opened #270 "jasmin smpp-server post to http"
Hello I have been doing some testing with jasmin as a smpp server, and kannel as client, so I want to get a MO from the kannel and delivered to jasmin so it can post it to an http server. (I know that with kannel I can post it directly to an http server). I'm looking to use jasmin as an smpp server.
But for some reason I can't get jasmin to do the routing, my setup is the following:

#Filter id

[2015-07-24 21:29] zoufou commented on #270
Hello !

MO (which stands to Mobile Originated) is a DeliverSmPDU, in your case, Kannel is sending a SubmitSmPDU to Jasmin's server, it must be handled using a mtroute.

[2015-07-24 22:34] chavezmx commented on #270
So I can't get it to send to http server ? Only smpp or there is any configuration to get it working ?

[2015-07-24 22:35] zoufou commented on #270
Please tell what you're looking to achieve ? what's the scenario ?

[2015-07-24 23:19] chavezmx commented on #270
I want to act as a proxy beteween some smpp/http messages platforms, but we have an internal platform that is the one that act as the decision maker about how to send them.

so basically, I have already multiple kannel servers that send the messages to the final users, we have a webservice that has the api to send message, but one partner want to use smpp instead http so I want to accomplish this

[2015-07-24 23:57] zoufou commented on #270
let me draw you a simple schema:

Actually you have:

    your partner -----[http]----> Kannel -----[smpp]-----> some where in the world

And you need to:

    your partner -----[smpp]----> Jasmin -----[smpp]-----> some where in the world

If this is the case, then use **mtrouter** instead of **morouter**, you'll be able to route traffic from user "partner" (left) to the smpp connector on the righ

[2015-07-25 00:34] chavezmx commented on #270
Ok right now:

your partner -----[http(our api)]------>[smpp(kannel)/webservice] -----> some where in the world

and I want if possible:

your partner -----[smpp(jasmin)]------>[http(our api*)]----->[smpp(kannel/jasmin)/webservice] -----> some where in the world

*have many business rules that could take many time to migrate to a class in jasmine, incluiding monitoring, services...

[2015-07-25 00:40] zoufou commented on #270
This is definitely not supported, this can be a custom dev if needed, you can contact support@jasminsms.com for that.

[2015-07-25 00:40] #270 closed

[2015-07-26 10:18] zoufou commented on #269
Can you provide a pcap capture where i can see the flow between jasmin and your simulator ?

[2015-07-27 14:26] zoufou opened #271 "UDH concatenation will throw "Error: ubyte format requires 0 <= number <= 255" when msg_ref_num is higher than 255"

[2015-07-27 16:55] zoufou commented on #234
Issue reported again in 0.6b36

[2015-07-27 18:22] zoufou commented on #234
Messages are kept in queue when receiving this error:

    Error in submit_sm_errback: __init__() takes exactly 3 arguments (1 given).

This is related to #267 closing this issue and continuing in #267.

[2015-07-27 18:22] #234 closed

[2015-07-27 19:21] zoufou opened #272 "Log SMS-MT and SMS-MO messages in smpp server log"

[2015-07-27 23:50] #268 closed

[2015-07-27 23:50] #271 closed

[2015-07-27 23:50] #272 closed

[2015-07-28 09:35] zoufou commented on #264
Tested on Ubuntu, RHEL and CentOS: no loss !

It's only using pypi, which is not for production.

[2015-07-28 09:35] #264 closed

[2015-07-28 19:00] zoufou commented on #267
Still getting

    Error in submit_sm_errback: __init__() takes exactly 3 arguments (1 given)

in 0.6b39, work in progress to reproduce the issue and fix it.

[2015-07-28 23:41] #267 closed

[2015-07-29 08:57] sah-anshu opened #277 "How to take backup Of Configurations"
Hi
I updated the git and previous Configuration got lost after rebuild of the app. Is there can way we shall retain the previous config Or any Configuration backup .

Thanks in advance

[2015-07-29 09:02] zoufou commented on #277
This is related to #264:

* If you install/update Jasmin using **pip** then your */etc/jasmin* will be reset everytime you update, pip is for dev. and not for prod.
* Install Jasmin using deb or rpm packages, upgrades will never touch your config and persisted data
* If you need to stay with **pip**, then back your */etc/jasmin/jasmin.cfg* and */etc/jasmin/store* before updating, then restore them

[2015-07-29 09:02] #277 closed

[2015-07-29 18:06] chrisleavoy opened #278 "CentOS install process not working (ImportError: No module named conch)"
Followed the documentation, using the official CentOS 7 AMI.  Packages install cleanly but service fails to start with missing modules:

[code]

yum output was:

[code]

[2015-07-29 18:08] zoufou commented on #278
This is a known issue with Centos package, here's a workaround:

    yum install python-pip
    pip install twisted

Then you can start Jasmin

[2015-07-29 18:23] chrisleavoy commented on #278
Thanks for the quick response, that worked. Breadcrumbs:

[code]

[2015-07-29 18:25] zoufou commented on #278
you're the man !
thx

[2015-07-29 18:25] #278 closed

[2015-08-02 19:59] farirat opened #281 "Provide a standalone http server with new rest api"

[2015-08-02 20:00] zoufou commented on #69
Will be provided in #281

[2015-08-02 20:00] #69 closed

[2015-08-02 20:00] zoufou opened #282 "Provide a standalone DLR and Deliver throwers"

[2015-08-02 20:02] #79 closed

[2015-08-02 20:02] farirat opened #283 "Provide a standalone SMPP Server"

[2015-08-02 20:03] farirat opened #284 "Keep only router and jcli in standard Jasmin daemin"

[2015-08-02 20:04] farirat opened #285 "Provide standalone SMPP client manager"

[2015-08-02 20:05] #91 closed

[2015-08-02 20:06] zoufou commented on #108
Will be added in new rest api: #281

[2015-08-02 20:06] #108 closed

[2015-08-02 20:06] zoufou commented on #121
Not planned for *at least* v0.7.

[2015-08-02 20:06] #121 closed

[2015-08-02 20:07] zoufou commented on #125
Non-confirmed feature, can be contributed.

[2015-08-02 20:07] #125 closed

[2015-08-02 20:08] zoufou commented on #133
Ongoing project for an android application to act as a bridge for sending messages through a phone.

[2015-08-02 20:12] zoufou commented on #212
UP

[2015-08-02 20:12] zoufou commented on #213
UP

[2015-08-02 20:12] zoufou commented on #214
UP

[2015-08-02 20:15] zoufou commented on #269
UP

[2015-08-02 20:16] #48 closed

[2015-08-02 20:17] #8 closed

[2015-08-03 09:42] sotoz commented on #269
Hi, sorry for not responding fast.
I have managed to extract a part of the SMPPsimulator logfile of an erroneous send sms attempt.
[code]

I don't know if this is enough to help you. I can try a tcpdump if you can give me some help on how to correctly get the PDU.

[2015-08-03 13:07] zoufou opened #286 "Limit password length to 8 when creating/updating a smppc"

[2015-08-03 14:06] zoufou commented on #286
**system_id** must be limited to 16 chars as well.

[2015-08-04 05:24] perl-coder commented on #235
+1

[2015-08-04 05:25] bodomic commented on #235
+1

[2015-08-04 22:15] zoufou commented on #269
This is clearly a vendor-specific TLV, which is displayed here:

    2015.08.03 12:39:17 315 INFO    22 TLV=30/2/3900,TLV=1063/1/02,TLV=5123/10/34343132333435363738

Those 3 TLV tags are not accepted by Jasmin.

[2015-08-04 23:40] farirat opened #287 "Generate billing CDRs"

[2015-08-06 08:55] sotoz commented on #269
So, what can I do to use the SMPPsimulator with Jasmin? I need it to test massive bulk sms sending with my infrastructure. Are there any other alternatives that I can use to simulate real smpp connections?

[2015-08-06 09:54] zoufou commented on #269
Sent you a SMPPSim through email

[2015-08-06 09:54] #269 closed

[2015-08-07 00:48] mrluciusfox opened #288 "smppc - system_id parameter is limited to 15 characters (must be 16)"
According to the SMPP especification the system_id parameter is limited to 16 characters but when creating a smppc connector in Jasmin with 16 length system_id, the connection fails with the following error:

[code]
The _decode function in COctetStringEncoder class, checks the parameter length adding 1 to the actual value.

[code]

[2015-08-11 07:13] justinlavelle commented on #88
Any idea when this feature is planned for inclusion? I am more than willing to contribute.

[2015-08-11 12:21] pguillem commented on #88
Best i can think of would be posting a basic skeleton from where we can start start to contribute from scratch.

PEDRO

[2015-08-11 12:56] zoufou commented on #88
I am thinking of starting a project to bring up a django specific model for Jasmin (or Symfony model, whatever framework you guys are easy with), this model will expose basic CRUD api like add, remove, update and list users, routes, connectors, filters ...

This project will be the base for any other topping, this way, any developer can build a web application, adding a smpp connector will be as e

[2015-08-11 13:47] mrluciusfox commented on #88
I'm  familiar with Symfony framework and network/socket programming, I can take this project if you want.

[2015-08-11 14:16] zoufou commented on #88
@mrluciusfox it's a good idea to bring up a proof of concept, let's try to expose the group CRUD through a restful api on sf2.

I've choosen the group module as it's the most simple object management in Jasmin, the group has only one attribute: **gid**.

[2015-08-12 10:04] sotoz commented on #88
I started developing a generic php class to provide a connector to jcli as @zoufou described before.

As I think of it, it will be a good starting point for building framework depended classes on top of it. I will open a new git project as soon as possible.

[2015-08-12 16:17] mrluciusfox commented on #88
@zoufou I'm working on it already. I will let you know any advance in the next days.
@sotoz We can work together on this if you want. I was thinking in a base php class (eg: TelnetEntity), which could do the primary tasks of the telnet command (I will share a diagram later to clarify a little bit this part). Now, I'm looking for any work/lib to manage telnet session on php.

[2015-08-12 16:29] sotoz commented on #88
I have already started implementing a TelnetConnector class (your TelnetEntity) that can connect/disconnect/execcommands. We can make a github repo tomorrow so we can work together on that project. Any other ideas how to collaborate on that?
For the project I think we have the same structure in our heads. I will try to describe it below as good as I can.
[code]

[2015-08-12 16:33] zoufou commented on #88
This is awesome guys !

I'll create a project and a new team in Jookies and you're welcome to contribute !

[2015-08-12 16:36] sotoz commented on #88
That would be great!! Its awesome that we can contribute a little bit to jasmin.

[2015-08-12 16:41] zoufou commented on #88
Guys, sent you invites to contribute in https://github.com/jookies/jasmin-web

And i'll create a first Issue for designing the api

[2015-08-13 12:33] sumeetatums opened #289 "message id length problem"
my ESME client support SMPP 3.4 and is not able to accept the long message id returned by Jasmin gateway ( like 1d37a035-aeca-4b13-8d19-133f4b7ac4b0). The interface version captured in jasmin gateway is  52.

Is there a way to return short message id?

[2015-08-13 12:35] #289 closed

[2015-08-13 12:42] sumeetb opened #290 "Need to know about message id length"
SMPP version supported by client  = 3.4

Issue: Not accepting long message id returned by jasmin gateway. Eg: 9f56r828-rghu-7g18-9f10-135t4m8eh8q0.
can jasmin gateway be configured to return short message id?

[2015-08-13 12:57] zoufou commented on #290
Hi @sumeetb, as of smpp v3.4 the **receipted_message_id** length is 65 octets, so Jasmin's msg id format is compliant, i think you're running into a compliance issue with your smpp client.

Anyway, Jasmin msg id is a RFC 4122 UUID object, here you can find more information on it: https://docs.python.org/2/library/uuid.html , Jasmin's using **uuid4** by the way.

If you're looking to a quick workar

[2015-08-13 13:53] sumeetb commented on #290
Thanks for quick response @zoufou  :)

[2015-08-13 14:34] zoufou commented on #290
You're most welcome !

[2015-08-13 14:34] #290 closed

[2015-08-18 19:30] tarikogut opened #291 "Debian OVF Template"
https://mega.nz/#!7klHkIhA!laTOJpiLIGHazGAD_oJDN23IkjRvFseMTwJCayH03IM

it is debian 8.1 ovf template

user jasmin
password jasmin

root pass jasmin

enter jasmin user and type jcli

good luck!

[2015-08-19 20:46] farirat opened #292 "Allow for a clustered deployment"
Design and make Jasmin deployable in a clustered environment with unique host controller serving configurations to other cluster nodes.

[2015-08-19 20:53] zoufou opened #293 "jcli: Disallow creation of group, user and filter with empty id"
It was reported that jcli is accepting empty gid, uid and fid and this will let the newly created object to be unusable.

[2015-08-19 20:57] zoufou opened #294 "jcli: add feature to unbind a specific user or all users"

[2015-08-19 20:58] zoufou opened #295 "jcli: when route is not rated, add some differentiation markup to get the user's attention on it"

[2015-08-19 21:03] mfreedman commented on #295
+1

[2015-08-19 21:03] snellingio commented on #292
+1

[2015-08-20 08:20] #286 closed

[2015-08-20 08:20] #293 closed

[2015-08-20 08:20] #295 closed

[2015-08-21 07:12] sah-anshu opened #298 "configuration lost after restart of jasmin"
Hi
I connected to the  telnet 127.0.0.1 8990. Did the configuration of smppccm, group and user and then i restarted jasmin using service jasmind restart.

Again i telnet to telnet 127.0.0.1 8990 The configurations were lost.
python -c "import jasmin;print jasmin.get_release();"
0.6rc41

the permission to /etc//jasmin folders are below:

root@voice-server1:/etc/jasmin# ls -l
total 32
-rw-r--r-- 1 j

[2015-08-21 08:36] edo-xcplat commented on #298
Hi,

From your comment it's not clear whether you've executed **persist** command after completing jasmin configuration in order to have it stored, i.e. reloaded upon service restart.

[2015-08-21 08:45] sah-anshu commented on #298
Hi Thanks for your reply.
kindly help me with persist command .

[2015-08-21 09:02] ed-irwane commented on #298
While still connected via telnet console, after you're done with the configuration type "persist" to store your configuration.

Also, you can type "help" to get a complete list of commands. Or "help command" to get more detailed explanation for a particular one.

[2015-08-21 09:12] sah-anshu commented on #298
thanks it was helpful.

[2015-08-21 09:12] #298 closed

[2015-08-21 09:29] sah-anshu opened #299 "custom esm_class for specific smsc"
Hi

One Of my SMSC Uplink advised me to submit sms in esm_class=0 while jasmin is submitting in esm_class=3

Thanks in advance.

[2015-08-24 18:56] zoufou commented on #299
The esm_class is set to Store and forward per default and is not exposed in jcli for modification, you can always play with the default value in jasmin/protocols/smpp/configs.py

[2015-08-25 09:54] sotoz commented on #292
So far, how can Jasmin run in a clustered environment? Is it possible by having different jasmin instances on different servers to submit to the same (remote) message broker / redis?

[2015-08-25 11:37] zoufou commented on #292
@sotoz it is actually possible through some painful configuration, that's why this issue is created, to provide a simple way to deploy jasmin in a cluster.

[2015-08-25 11:43] sah-anshu commented on #292
@zoufou I think it is achievable if we break connectors and core services in different processes.

[2015-08-25 11:48] zoufou commented on #292
The target design is to have jasmin deployed on n nodes, with one configurable instance that sync to others, a controller node.

This is similar to JBoss AS clustered deployment, or more light & simple: the zato.io esb.

[2015-08-25 14:46] sah-anshu commented on #299
by changing value of esm_class in jasmin/protocols/smpp/configs.py shall change the value for all the uplink smsc. is it possibly configurable for specific smsc.

[2015-08-25 14:57] zoufou commented on #299
In this case, you have to do some conditionals when jasmin is creating the connector in perspective_connector_add method, in jasmin/managers/clients.py.

[2015-08-25 22:05] sotoz opened #300 "Creation of groups in jcli including spaces in name"
While testing the jasmin-web api I came across this problem. I tried to add/remove a group that has includes the space character. I added it correctly but I couldn't remove it afterwards. I tried the same on jcli and this is what I did:
[code]

The router.log correctly reported the addition with:
[code]
but It didn't have any removals as expected. Now I have a group that I cannot remove with jcli.

[2015-08-25 22:17] zoufou commented on #300
you're using a prior version to 0.6rc41, please update jasmin to 0.6rc41, gid will be restricted to a given syntax.

[2015-08-25 22:17] #300 closed

[2015-08-25 22:54] zoufou opened #301 "Implement new interceptor module"
Similar to routing, the interceptor module will intercept any PDU (deliver_sm or submit_sm) based on user-defined filters before proceding to routing, the intercepted PDU will be passed to a third party script (just like EvalPyFilter), this new mechanism will be useful for a bunch of new possibilities:

* Intercepting MO messages and ask for billing authorization, cgrates will be used as a proof o

[2015-08-26 11:18] zoufou opened #302 "Better jcli display"
* Mark users with unlimited credits and balance to get the user attention.
* Display filter fid in routes

[2015-08-27 07:23] sumeetb opened #303 "Multiple Jasmin on single machine"
Is it possible to run multiple instance of jasmin gateway on single machine? I have multiple instance of rabbitmq and redis server running.

Please let me know changes required in order to run multiple instance.

[2015-08-27 07:26] zoufou commented on #303
You can adjust jasmin.cfg port bindings and log files folder to avoid any conflict, you have no need for multiple instances of rabbitmq & redis, only put different auth. credentials for each jasmin instance.

[2015-08-27 08:15] sumeetb commented on #303
I tried above it started,but when trying to connect to cli, i am not getting username/password screen. Below is the output

$ ps -ef | grep jasmin
root     31237     1  2 10:11 ?        00:00:01 /usr/bin/python /usr/local/bin/jasmind.py --username jcliadmin --password jclipwd
root     31522     1 24 10:12 ?        00:00:01 /usr/bin/python /usr/local/bin/jasmind.py --username jcliadmin --password j

[2015-08-27 08:53] zoufou commented on #303
I see you're pointing both instances to the same jasmin.cfg, you need to use the **-c**  switch for a different config file

[2015-08-27 09:11] sumeetb commented on #303
Can you please let me know the command? where i need to provide -c switch option?

[2015-08-27 09:12] zoufou commented on #303
/usr/bin/python /usr/local/bin/jasmind.py --help

[2015-08-27 11:36] sumeetb commented on #303
Hi,
I tried changing config file but not able to connect to cli for second instance. getting connection refused. Please see below output:

root     24086     1  0 12:31 ?        00:00:11 /usr/bin/python /usr/local/bin/jasmind.py -c /etc/jasmin/jasmin1.cfg --username jcliadmin --password jclipwd
root     24135     1  0 12:31 ?        00:00:01 /usr/bin/python /usr/local/bin/jasmind.py -c /etc/jasmin

[2015-08-27 11:39] zoufou commented on #303
checkout jcli.log, redis-client.log and amqp-client.log

[2015-08-27 11:55] tarikogut commented on #303
use proxmox add virtual machine use multiple jasmin sms server

2015-08-27 14:39 GMT+03:00 zoufou <notifications@github.com>:

[2015-08-27 12:04] sumeetb commented on #303
@zoufou : Please see log. For second instance  it should look into /etc/jasmin1/store/ not /etc/jasmin/store/.

Please note,  i deleted stored files to start fresh.

Instance 1
========
2015-08-27 13:40:33 INFO     15647 [sref:3] New session started for 127.0.0.1:55512
2015-08-27 13:40:33 ERROR    15647 Config loading error: Cannot load from /etc/jasmin/store/jcli-prod.filters: [Errno 2] No such f

[2015-08-27 12:04] sumeetb commented on #303
There is no error in other files apart from jcli.log mentioned above.

[2015-08-27 12:20] zoufou commented on #303
@sumeetb those are not critical errors, it's normal, jcli is claiming there's no persisted data in store, nothing bad.

Did you think about managing multiple docker containers on one node ? that will avoid all the pain you're doing right now, you'll install clean and default jasmin configuration inside each container then nat different ports.

[2015-08-28 12:44] tarikogut commented on #303
it is not possible because jasmin stored all data /etc  if you mean run
another port its not possible now

2015-08-27 15:20 GMT+03:00 zoufou <notifications@github.com>:

[2015-08-28 14:38] zoufou commented on #303
You still can switch store place.

What about docker approach ?

Le ven 28 août 2015 1:44 PM, süleyman tarık öğüt <notifications@github.com>
a écrit :

[2015-08-28 15:47] mfreedman opened #304 "Throughput Per From Number"
It would be nice to be able to set a max throughput at both the SMPP level, and the From Number level.

For instance, the SMPP might be able to handle 50 msgs/sec, but each longcode might need to be limited to 1 msg/sec.

[2015-08-28 21:58] tarikogut commented on #303
https://www.docker.com/
if you need ovf file
https://mega.nz/#!7klHkIhA!laTOJpiLIGHazGAD_oJDN23IkjRvFseMTwJCayH03IM you
can download this link

2015-08-28 17:38 GMT+03:00 zoufou <notifications@github.com>:

[2015-08-28 22:59] zoufou commented on #304
Please explain better, are you talking about smppc ? smpps ? a usage example maybe good for better understanding ..

[2015-08-28 23:41] mfreedman commented on #304
Let's say our provider limits us to 10 SMS / second.  We connect to that provider via SMPP using Jasmin.  We send SMS to Jasmin via the HTTP API.

We must also not go over a per second threshold of 1 SMS per second per longcode.

It would be nice if we could send in 10 messages at once to Jasmin with a From number of 0001112222 (example number) and also 10 messages with a From number of 0001113333

[2015-08-28 23:47] zoufou commented on #304
Does your provider accept multiple bindings ? if yes, then create as many connectors as you have longcodes, and stick each connector to a longcode using mtroute.

With this approach you can throttle messaging the way you want.

If your provide doesnt accept multiple bindings, then you still can do it through a cascaded deployment, this way:

    You---[http]--->Jasmin 1--->[many smpp binds]--->Jas

[2015-08-29 02:42] mfreedman commented on #304
Thanks for the replies.  The provider does not allow multiple bindings.  I see what you're saying about the Jasmin 1 with the multiple bindings to the Jasmin 2 instance.

Do you see any issues if this were over for example 10,000+ bindings?

[2015-08-29 02:44] zoufou commented on #304
10k bindings ? that's huge ! and can't be done on one server since 1 binding = 1 tcp connection, i guess it would take a bunch of buckets to reach 10k bindings ...

[2015-08-29 02:48] mfreedman commented on #304
:)  I think that's why I was hoping for the possibility of a throughput limit on a filter or something.

[2015-08-29 02:51] zoufou commented on #304
it's not a jasmin feature out of the box, but with some knowledge you can achieve such throttling, if you know how to drive the you'll start here: https://github.com/jookies/jasmin/blob/master/jasmin/managers/listeners.py#L177

[2015-08-29 02:55] mfreedman commented on #304
I'll see what we can do.  Thanks!

[2015-08-29 02:56] zoufou commented on #304
you're most welcome

dont hesitate to ping me if you're still struggling

[2015-08-29 02:56] #304 closed

[2015-08-30 10:23] zoufou opened #305 "jcli: add feature to deny smpp binding for a user"

[2015-08-30 10:24] zoufou opened #306 "jcli: add feature to disable a user"

[2015-09-02 10:54] techniclite commented on #212
Hi, I get too this message on a fresh ubuntu 15.04 when try to run the  consume_MT_messages.py
then I do a pip install --upgrade txamqp and disappear the error message.

[2015-09-02 20:08] zoufou opened #307 "Getting "NOAUTH Authentication required" when redis has a password"
Using a authenticated connection to redis, Jasmin seems to not using the password command to authenticate, causing the following error:

    NOAUTH Authentication required

[2015-09-03 12:03] zoufou opened #308 "User must have bind_count quota"
User must have the **bind_count** quota limitation in order to limit the number of bindings he can get with Jasmin

[2015-09-03 12:37] ixt1 opened #309 "Does Jasmin persist its configuration to disk ?"
Jasmin installed on Ubuntu-15.04-server-amd64.
When restart server, Jasmin configuration not loading.
I'm looking for config file in folder /etc/jasmin/store , but nothing there.

[2015-09-03 12:43] zoufou commented on #309
did you type **persist** in jcli before leaving out ?

Once you do, Jasmin will keep persisting your data automatically.

[2015-09-03 12:50] ixt1 commented on #309
Thanks a lot
:)

[2015-09-03 12:50] zoufou commented on #309
you're welcome !

[2015-09-03 12:50] #309 closed

[2015-09-03 15:20] sah-anshu commented on #308
+1

[2015-09-05 08:30] ixt1 opened #310 "Postfix to Jasmin (Email to SMS)"
How to setup Postfix to send incoming email to Jamin

For example when Postfix received email: un-pwd-phone@domain.com  pipe to Jasmin HTTP
http://127.0.0.1:1401/send?username=un&password=pwd&to=phone&from=05555555&content=email_body

Thanks in advance.

[2015-09-05 10:49] zoufou commented on #310
When asked for such integrations, i always refer to this simple one and adapt it to call Jasmin's api: http://tools.rebel-it.com.au/sms-transport/

[2015-09-08 12:17] sumeetb commented on #303
The issue is resolved now. The issues were with ports. I have changed the all the ports to different series for second instance of gateway and it starts working. Thanks all for your help and support!

[2015-09-08 12:17] #303 closed

[2015-09-08 12:18] sumeetb opened #311 "Unicode support"
Does jasmin support unicode message? If yes, does it also convert it to unicode message before sending back to ESME?

[2015-09-08 12:20] zoufou commented on #311
Are you talking about sending through http or smpp ?

[2015-09-08 12:21] sumeetb commented on #311
Through SMPP

[2015-09-08 12:24] zoufou commented on #311
no converting at all, as a router, jasmin will never update the message content, it will only read properties to decide on routing destination.

If you have unicode issues, then get assured, jasmin is not changing anything, you can verify it by dumping inbound and outbound smpp traffic and comparing the PDUs.

[2015-09-08 12:26] sumeetb commented on #311
ok. Thanks!

[2015-09-08 12:27] zoufou commented on #311
most welcome !

[2015-09-08 12:27] #311 closed

[2015-09-12 12:44] sah-anshu opened #312 "Creating Dummy Connector as Endpoint"
Hi

I want to create a MT router to a dummy connector to just store the same in AQMP and then consume it using 3rdparty process.

Kindly suggest how it can be possible.

-
Anshu

[2015-09-12 12:45] zoufou commented on #312
Simplest way to do is to use SMPPSim from logica as a smsc simulator, that's what i use for most cases

[2015-09-14 22:52] farirat opened #313 "Filter enhancements: negate condition"
Add possibility to negate condition

[2015-09-14 22:54] zoufou opened #314 "Filter enhancements: source_address filter must be available for mt routing"

[2015-09-17 17:59] sah-anshu commented on #314
+1
kindly consider this, generally a user sends from multiple source_address.

[2015-09-20 00:16] #302 closed

[2015-09-20 00:16] #307 closed

[2015-09-23 09:28] farirat opened #317 "When discarding an over-aged message from queue, inform original sender with a receipt"

[2015-09-30 06:32] majidkabir opened #320 "Problem in MO UTF-16BE messages"
I send "تست" by my mobile, when jasmin received this and sent it to http url it sent "%06%2A%063%06%2A", its incorrect, the correct value is "%06%2A%06%33%06%2A&", I checked it with my smpp client, the value that smsc sent to jasmin is "062A0633062A".
If its possible, you can add a setting to jasmin configs like 'MO-Content-UTF8' that if it set to true, content in MO messages convert from UTF-16BE

[2015-10-03 11:26] majidkabir opened #321 "jasmin stop working after sending sms with invalid sender"
When I send sms with invalid sender number with http api jasmin gave a valid id to me, after this in all of my sending calls jasmin returns this message
Success "[Failure instance: Traceback: <class 'txamqp.client.Closed'>: Method(name=close, id=40) (406, 'PRECONDITION_FAILED - unknown delivery tag 24', 60, 90) content = None
/usr/local/lib/python2.7/site-packages/jasmin/managers/clients.py:566:pe

[2015-10-03 11:32] zoufou commented on #321
Your provider seems to use some vendor-specific tags, do you have information on that ?

[2015-10-03 23:09] zoufou opened #322 "Handle vendor tags from infobip"
Here's the reported error when receiving a receipt from infobip:

    PDUParseError: Error in the optional part of the PDU Body: Unknown tag value 0x1454
    2015-10-03 15:32:06 CRITICAL 14522 Received unparsable PDU 000000c9000000050000000003088101000101393731353634313034303934000500534b5954454c45434f4d000400000000000000007b69643a313435313030333135333230323234393537207375623a30303120646c7672643a3

[2015-10-04 04:57] majidkabir commented on #321
I don't have any information about this tags, but the problem is when I send an sms that my vendor don't alow me to send by it this error occurs in next sending sms!!!

[2015-10-04 08:20] majidkabir commented on #320
I checked it in python and the problem is urllib.urlencode!

[2015-10-04 22:05] zoufou commented on #321
Since your logs are not in debug i cannot know which type of pdu does this (is it deliver ? submit ? data ?)

Anyway, as of #322 resolution, Jasmin will just ignore vendor specific optional tags and will not raise any error anymore.

Please retest once #322 is closed and provide feedback here.

[2015-10-05 06:41] #322 closed

[2015-10-05 13:27] majidkabir commented on #320
I changed the line of 189 of throwers.py from
RoutedDeliverSmContent.params['short_message']
to
RoutedDeliverSmContent.params['short_message'].decode('utf-16-be').encode('utf-8')
and my problem solved

[2015-10-05 22:38] zoufou commented on #321
Dear @majidkabir did you test with 0.6.post43 ?

[2015-10-06 04:45] majidkabir commented on #321
Thanks
Today after upgrading to 0.6.post43 the problem solved.
When user send a message with api, and SMSC return error, jasmin don't send any feedback to this user for sent message!

[2015-10-06 18:30] zoufou commented on #321
You mean the SMSC is returning an error through a deliver_sm that does not get forwarded to user ?
if yes, please provide smppc & smpps debug logs, and messages.log
a tcpdump is helpful as well

[2015-10-09 09:09] zoufou opened #325 "Error in the optional part of the PDU Body: Unknown tag value 0x60d"
It may be related to #322 as well

    ERROR 318 Error in the optional part of the PDU Body: Unknown tag value 0x60d

    Traceback (most recent call last):

    File "/usr/lib/python2.7/dist-packages/jasmin/vendor/smpp/twisted/protocol.py", line 195, in rawMessageReceived

    pdu = self.encoder.decode(StringIO.StringIO(message))

    File "/usr/lib/python2.7/dist-packages/jasmin/vendor/smpp/pdu/

[2015-10-23 17:39] zoufou opened #326 "Add a new filter type: TagFilter"
After #301 completion, this filter will check on tagged routables.

[2015-10-30 23:51] deniskami opened #327 "New Feature: Expose STATS module over HTTP API - would be great for remote monitoring"
Hi,

I would like to suggest a new feature. That is access STATS over HTTP. This can be used for remote jasmin service monitoring.

Thanks for your considerations and GREAT tool!!!

[2015-10-31 00:31] zoufou commented on #327
Hey @deniskami thanks !

What do you mean by access stats ?

[2015-10-31 02:48] deniskami commented on #327
Right now in order to check if Jasmin server has any issues I need to access it via Telnet and run
jcli : stats --smppcs

It would be great if I can just access the same output by using HTTP GET to
http://JASMINIP:1401/stats-smppcs
and get JSON back

[2015-10-31 08:26] zoufou commented on #327
Actually you can check this project: https://github.com/jookies/jasmin-monitoring

It's a pack of scripts and templates to enable advanced Jasmin monitoring (including rabbitmq and auto discovery of users, connectors etc ...) through Zabbix, where you can also activate alerts to detect if a connector goes down, user have too much errors etc ...

[2015-10-31 19:13] #301 closed

[2015-10-31 19:13] #326 closed

[2015-10-31 19:37] zoufou opened #329 "Re-package Jasmin for Ubuntu, Debian, CentOS and Red Hat"
Old packager has many issues, a re-work must be done to provide a better and stable packages.

[2015-11-01 12:27] zoufou commented on #329
This includes #187 as well

[2015-11-01 12:36] #312 closed

[2015-11-01 12:36] #310 closed

[2015-11-01 12:38] zoufou commented on #321
UP

[2015-11-01 12:40] #213 closed

[2015-11-04 21:13] stdin opened #330 "'JCliSMPPClientConfig' object has no attribute 'dlr_msg_id_bases'"
Keep getting this error.

2015-11-04 21:09:43 CRITICAL 1075 Got an unknown exception: 'JCliSMPPClientConfig' object has no attribute 'dlr_msg_id_bases'

root@production-jasmin-1:~# dpkg -l | grep jasmin
ii  python-jasmin                    0.7.0-1                          all          SMS Gateway

root@production-jasmin-1:~# python -V
Python 2.7.6

root@production-jasmin-1:~# lsb_release -a
No LSB

[2015-11-04 21:17] zoufou commented on #330
What's the root cause ? what are you doing on jcli to get this error ?

[2015-11-04 21:19] stdin commented on #330
I'm sending an SMS through HTTP API with dlr-url set.

[2015-11-04 21:20] stdin commented on #330
Here is a full URL:

GET /send?username=[snip]&from=[snip]&dlr-url=[snip]&dlr-level=2&content=[snip]&to=[snip]&password=[snip]

[2015-11-04 21:23] zoufou commented on #330
Is sms sent or not ?

[2015-11-04 21:25] stdin commented on #330
SMS is sent, however delivery report is not.

[2015-11-04 21:28] zoufou commented on #119
Feature is already provided through:

    mt_messaging_cred valuefilter src_addr .*

in user parameters.

[2015-11-04 21:28] #119 closed

[2015-11-05 20:27] zoufou commented on #330
@stdin, am not able to reproduce the issue, did you upgrade jasmin while keeping old  persisted config ? if yes, what was your last version ?

[2015-11-05 20:40] stdin commented on #330
No, it's a clean install. I can provide access to the machine if you're interested.

[2015-11-05 20:43] zoufou commented on #330
i do, thx

share to my email please: fourat@gmail.com

[2015-11-05 22:04] zoufou commented on #330
if you cant, then even a tcp dump of smpp session (bind, submit, deliver, unbind) would help me.

[2015-11-06 08:18] zoufou commented on #330
Related to #265

Running Jasmin instance many times may fuck-up with persisted configuration.

[2015-11-06 08:18] #330 closed

[2015-11-07 10:15] zoufou opened #333 "Provide official & stable docker container for Jasmin"

[2015-11-08 23:11] zoufou commented on #329
CentOS + RHEL are now packaged the right way (starting from 0.8b2)

[2015-11-10 08:10] #187 closed

[2015-11-10 08:10] #329 closed

[2015-11-10 12:33] zoufou commented on #265
Closed in 0.8b2

[2015-11-10 12:33] #265 closed

[2015-11-10 22:38] zoufou commented on #325
As reported by some user:

    2015-11-10 07:53:51 CRITICAL 21743 Rejecting SubmitSmPDU[3e48a475-0502-4728-a0e2 -3b0114f62eec] through [cid:******] for an unknown error (<type 'exceptions.Va lueError'>): Value (38636) size 5 does not match expected 1

The issue is still open, seems to be size encoding of vendor tags.

[2015-11-15 21:24] #152 closed

[2015-11-16 23:34] #333 closed

[2015-11-17 12:30] sah-anshu commented on #317
+1

[2015-11-23 13:14] zoufou opened #348 "Provide a config auto-migration process to avoid having problems when upgrading Jasmin"
When configuration stored in disk is no more synchronized to Jasmin classes after an upgrade, Jasmin will get into unstable behaviour.

Idea is to provide auto-migration when loading config from disk, since the persisted configuration is marked by the date and the version of Jasmin when saved to disk, it will be possible to run migrations.

[2015-11-24 12:05] zoufou commented on #308
Provided by max_bindings

[2015-11-24 12:05] #308 closed

[2015-11-25 10:06] #325 closed

[2015-11-25 13:45] #294 closed

[2015-11-25 13:45] #305 closed

[2015-11-25 13:45] #306 closed

[2015-11-25 13:45] #314 closed

[2015-11-25 13:45] #348 closed

[2015-11-25 15:59] HatemJerbi opened #351 "typo"
class JasminDaemon(object):

    def __init__(self, opt):
        self.options = options
        self.components = {}

self.options = options must be self.options = opt

[2015-11-25 16:08] #351 closed

[2015-11-25 16:14] zoufou commented on #351
Thanks for filing the bug, fix was quick since releasing process were already in process :)

[2015-11-25 16:18] HatemJerbi commented on #351
welcome, and thanks for the great job you are doing :-)

[2015-11-25 16:28] #327 closed

[2015-11-25 16:30] zoufou commented on #321
Issue closed since no feedback given.

[2015-11-25 16:30] #321 closed

[2015-11-25 16:31] #299 closed

[2015-11-25 16:33] zoufou commented on #288
Issue fixed since v0.7

[2015-11-25 16:33] #288 closed

[2015-11-25 16:33] zoufou commented on #291
Hi Tarik, thank you for the effort !

Jasmin is now packaged in docker as well: https://hub.docker.com/r/jookies/jasmin/

[2015-11-25 16:33] #291 closed

[2015-11-25 16:34] zoufou commented on #246
Hi! did you resolve the issue by your own ? i see no one gave a help for you.

[2015-11-25 16:41] zoufou commented on #203
This feature is removed from the roadmap due to the following reasons:

* Jasmin's cli must be kept as simple as possible,
* Any extra logics must be based on jcli, so this type of features will be implemented on high level apis such as a web app, c.f. https://github.com/jookies/jasmin-web

[2015-11-25 16:41] #203 closed

[2015-11-25 16:42] #212 closed

[2015-11-25 16:43] zoufou commented on #214
Closed due to missing feedback

[2015-11-25 16:43] #214 closed

[2015-11-25 17:34] farirat opened #355 "Enable multiprocessing support for better performance"

[2015-12-03 14:59] ticanalse opened #356 "message parameter"
Hello! I installed jasmine. I tried to connect it to a platform that requires the following HTTP API:
http: //domain_name/send.php?from={{from}}&text ={{text}}&to={{to}}?
the problem is that Jasmine has as parameter message: content, while the platform as required message text parameter.
how can I fix it?
how to change the name of the parameter text message content?
thank you in advance!

[2015-12-03 23:40] zoufou commented on #356
Duplicated to https://groups.google.com/forum/#!topic/jasmin-sms-gateway/7f114JODhXk

[2015-12-03 23:40] #356 closed

[2015-12-04 08:40] supportticanalyse opened #357 "problem with "+" in the phone number"
I installed Jasmin. it don't accept the "+" of phone number.
I would like to know how to fix this?
thank you in advance!

[2015-12-04 13:14] zoufou commented on #357
In http or smpp ?

What's the error ?

[2015-12-04 13:27] ticanalse commented on #357
http. if i send message i have :"Error "Argument [to] has an invalid value: [ 22675200209]." like error

[2015-12-04 13:40] tarikogut commented on #357
it is not e164 format try this format and send again

2015-12-04 15:27 GMT+02:00 support <notifications@github.com>:

[2015-12-04 13:44] ticanalse commented on #357
hi @tarikogut! i'm in Africa (Burkina Faso). my number is +22675200209. how can write it in e164 format?

[2015-12-04 13:46] ticanalse commented on #357
i connect jasmin and my platform. my platform send HTTP API with the "+". I would like to know how to fix this?
thank you in advance!

[2015-12-04 14:15] zoufou commented on #357
You're maybe mis-encoding the plus sign ...

[2015-12-04 14:19] ticanalse commented on #357
my platform encoding "+" in "%2B" but it doesn't work!

[2015-12-06 01:00] ticanalse commented on #357
Hi! would I know how to recognize the "+" sign to Jasmine? or how should I encode the sign "+"?

[2015-12-06 01:01] supportticanalyse opened #358 "MO configuration"
Hi! I would like to know how to configure the MO? I read the documentation but I can not. My platform gave me the API: https://IP_address/api/v1/external/received/4ab12bfa-620e-4228-9137-1f51badef1ba/
how can configure the MO with it?
thanks!

[2015-12-06 19:59] zoufou commented on #358
I understand you need to send MO traffic to some http endpoint ?

What's the endpoint address ?

[2015-12-06 20:11] zoufou commented on #357
Here's an example of http encoded + sign:

    %2B

So if you need to send to +332222:

    %2B332222

And here's a reference for more reading: http://www.w3schools.com/tags/ref_urlencode.asp

[2015-12-07 11:15] ticanalse commented on #358
Hi!
yes I need to send MO traffic to some http endpoint. I put the URL of my gateway jasmine in the plateform (http://127.0.0.1:1401/send?username=xxxx&password=xxxx&from=xxx&to=0022673211539&content=test) and the platform has generated another URL (https://IP_address/api/v1/external/received/4ab12bfa-620th-4228-9137-1f51badef1ba/) should I use in my gateway.
Now how to set up for the reception of

[2015-12-07 11:19] ticanalse commented on #357
hi!
Yes that's right! but if I use "%2B" in the URL (http://127.0.0.1:1401/send?username=xxxx&password=xxxx&from=xxxx&to=%2B22673211539&content=test) and I test it in the URL of a browser, I receive a success message but the sms fails in my cell phone.
how do I do to fix this?

[2015-12-07 12:56] zoufou commented on #357
You already fixed it :) just remove the encoded + sign and everything goes well.

Why do you need to add the plus ? since the message were delivered when not using it, it maybe your provider which not using that ...

[2015-12-07 13:00] zoufou commented on #358
Go to jcli:

1. Add a http connector:

[code]

2. Add a mo route pointing on it:

[code]

[2015-12-07 15:11] ticanalse commented on #357
of course! but my platform save the contacts with "+" and when sending it encode the "+" with "%2B". which is a problem because the sms fail. So when you configure a flow with a keyword in the platform return messages probably not arrive.
I hope you UNDERSTAND my anxiety?

[2015-12-07 16:34] ticanalse commented on #358
thanks! i tried to configure following your example but it's not work. if i send a sms with keyword my platform doesn't receive. i don't know where is the problem. can you tell me where could i see the log because i don't find it in /var/log/jasmin/?

[2015-12-08 08:39] zoufou commented on #358
check your deliversm-thrower.log

[2015-12-08 09:09] ticanalse commented on #358
in deliversm-thrower.log file i have this:
2015-12-07 10:05:14 INFO     5326 Thrower configured and ready.
2015-12-07 10:05:14 INFO     5326 Added amqpBroker
2015-12-07 10:05:14 INFO     5326 Consuming from routing key: deliver_sm_thrower.*
2015-12-07 10:49:40 INFO     14603 Thrower configured and ready.
2015-12-07 10:49:40 INFO     14603 Added amqpBroker
2015-12-07 10:49:40 INFO     14603 Consumi

[2015-12-09 09:32] zoufou opened #361 "Setting dlr_expiry in smpp client connector has no effect"
When setting dlr_expiry to lower value than default (which is 86400), the keys stored in redis keep getting the default value.

[2015-12-09 10:40] farirat opened #362 "Expose possibility of enabling ssl connection"
Reference: https://groups.google.com/forum/#!topic/jasmin-sms-gateway/czPNKbS6bsU

[2015-12-11 20:50] zoufou commented on #320
Dear Majid, i've added tests in 12fd4452c5d0f3053116852c3cfab42a6bf922ee and tried to get them failed while throwing utf16 and utf8 strings of "تست" but in both tests, message were transmitted as is.

here's the utf16 test: https://github.com/zoufou/jasmin/blob/0.9b0/jasmin/routing/test/test_throwers_deliver_sm.py#L191
and the utf8 test:
https://github.com/zoufou/jasmin/blob/0.9b0/jasmin/routing/t

[2015-12-12 13:07] majidkabir commented on #320
Hi Zoufou
Thank you for checking this issue, but the problem is when jasmin recived a UCS2 sms from smsc and want to send it to http connector!
urllib.urlencode() do not work correctly for UTF-16-BE in python.
the result for string "تست" must be "%06%2A%06%33%06%2A" but it returns "%06%2A%063%06%2A".
when this string recived in my java servlet the java URLDecoder cant decode it, for solving this p

[2015-12-13 18:22] zoufou commented on #320
Can you please add the following lines just before what you did **throwers.py**:

    import binascii
    self.log.info('Debugging data, hexlified: %s, repr: %s' % (binascii.hexlify(RoutedDeliverSmContent.params['short_message']), repr(RoutedDeliverSmContent.params['short_message'])))
    self.log.info('Debugging data, complete pdu params: %s' % RoutedDeliverSmContent.params)

And share the outcom

[2015-12-13 20:49] zoufou commented on #361
Fixed in 46eb6d0c9ead8fe774839da494e73b933532170b, dlr_expiry setting is already working without issues, exposed the smpps's dlr_expiry in jasmin.cfg

[2015-12-13 20:49] #361 closed

[2015-12-16 12:10] majidkabir commented on #320
I add this lines to thrower.py but this logs does not show anything about my problem.
I add this line after ''' encodedArgs = urllib.urlencode(args) '''
'''
self.log.info('Debugging data, encodedArgs: %s',encodedArgs)
'''

and now the log that show my problem is :
'''
2015-12-16 15:27:16 INFO     6152 Debugging data, hexlified: 062a0633062a, repr: '\x06*\x063\x06*'
2015-12-16 15:27:16 INFO     615

[2015-12-16 12:25] majidkabir opened #363 "Delivery Problem"
When a longSMS send from jasmin, jasmin just keep the last part msg_id  as id for longSMS, but the SMSC's(in Iran) return delivery just for first msg_id when the longSMS delivered to terminal.
I change the endLongSubmitSmTransaction method in file jasmin/protocols/smpp/protocols.py and this problem solved, changed code is:

[code]

[2015-12-16 15:27] zoufou commented on #363
Can you please provide a tcp capture holding the scenario in clear ?

Thank you

[2015-12-17 20:55] zoufou commented on #320
Hi @majidkabir
I've checked the issue and confirm there's an issue when urlencoding the data, the solution you found (decoding from utf16 and encoding to utf8) can only cover some of the cases, since you assumed that when coding = 8 (UCS2) the content is encoded in utf16, but that's not right in all situations, i can send ISO8859 using coding=8 as well ... in this case your solution will not work.

[2015-12-18 07:45] shuklaabhi opened #364 "Web UI"
How can I use web backend to monitor and configure which is based on Django, as per documentation. I can't see any Django dependency in requirements.txt.

[2015-12-18 08:16] zoufou commented on #364
Hi !

There's no web console right now, everything is manageable through telnet console (jcli): http://docs.jasminsms.com/en/latest/management/jcli/index.html

[2015-12-19 11:25] majidkabir commented on #320
Hi @zoufou
I think your solution is the best but maybe adding a config parameter in smppc for encoding MO messages to UTF-8 befor sending to http client in jasmin solved the problem of many users (ME :D).

Thanks

[2015-12-19 12:02] majidkabir opened #365 "Error in starting JCLI"
Hi @zoufou

Recently I upgrade my jasmin to latest version (0.8.10) with pip, on one of my server there was no problem when starting jasmin, but in another server there is an error when jasmin want to start jcli listener.
[code]

[2015-12-19 12:09] majidkabir commented on #365
After that error jasmin started and work properly, I connect to jcli and add a smppc and persist it, but when I restart the jasmin gateway, there is not any smppc in my configs!!!

[2015-12-19 12:18] zoufou commented on #365
what was your version before upgrading ?

check the first line of any persisted config file in /etc/jasmin/store, it indicates the version of jasmin used for that config.

[2015-12-19 12:32] zoufou commented on #320
Hi @majidkabir, that config must be per route and not on smppc level, because the connector can receive multiple types of encodings, you have to filter for the right type of traffic and apply on it a decoding to utf8, that's a pain to do on a route, so the right approaches are:

* On Jasmin level, you can use the interceptor and play with message content the way you like,
* On third party applicat

[2015-12-19 12:49] majidkabir commented on #365
After upgrading with pip my previous configs replaced with new config files!
and now the version is 0.8.10

[2015-12-19 12:57] zoufou commented on #365
Don't use pip for production, am not sure if it keeps your configs in place.

best way for production is deb & rpm packages, starting from 0.8, all upgrades will be backward compatible for your configs, it was not the case for 0.6.

[2015-12-19 13:03] majidkabir commented on #365
Thank's zoufou but my problem is not this, I can't understand why on one of my server jasmin started without any error but on another server the error in first message occured!

[2015-12-19 13:11] zoufou commented on #365
Sorry for misunderstanding, do you have same configs and same persisted store between both servers ?

[2015-12-19 13:31] majidkabir commented on #365
In this server even when for the first time jasmin started this error occured, I copying all jasmin dircetory from the correct server but dont anything change!

[2015-12-19 13:33] zoufou commented on #365
are you sure about right jasmin version ? 0.8.10 ?
please remove everything from /etc/jasmin/store and start jasmin

Ensure you dont have an old instance of jasmin already running: ps ax|grep jasmin
Rabbit & redis are started ?

[2015-12-19 13:45] majidkabir commented on #365
This is the output:
![untitled](https://cloud.githubusercontent.com/assets/13327580/11913275/f775580c-a673-11e5-9e14-2a77a40ad2ec.png)

[2015-12-19 13:47] zoufou commented on #365
tail -n 20 /var/log/syslog (or /var/log/messages)

[2015-12-19 13:50] majidkabir commented on #365
![untitled](https://cloud.githubusercontent.com/assets/13327580/11913311/be218052-a674-11e5-9ce5-2f463a75b762.png)

[2015-12-19 13:54] zoufou commented on #365
is it a virgin jasmin.cfg ? or did you update anything ?

[2015-12-19 13:55] majidkabir commented on #365
It is virgin

[2015-12-19 13:59] zoufou commented on #365
Then get me remote access so i can check it.

[2015-12-19 14:04] majidkabir commented on #365
An ID for chat :)

[2015-12-19 14:04] zoufou commented on #365
fourat@gmail.com

[2015-12-19 21:48] zoufou commented on #218
Hi @raamtg
I've inspected your provided pcaps and can confirm that there's no issue at Jasmin side (wireshark is correct as well), here's my explanation:

Based on packet n°20 in the atatched pcap file, the submit_sm pdu is **really** malformed:

* Look at byte n°118 (0x78), it indicate the message length: 66 bytes
* Message content has 67 bytes (including the null 0x00 byte), and that's the error

[2015-12-19 21:48] #218 closed

[2015-12-22 20:57] farirat opened #366 "dlr id must be have its leading zeros stripped to avoid getting "Got a DLR for an unknown message id""

[2015-12-27 04:08] zoufou opened #367 "Use cPickle instead of pickle for better overall performance"

[2015-12-27 10:29] majidkabir commented on #365
I solved the problem by changing jcli/factory.py line 48
from
[code]
to
[code]

[2015-12-27 11:01] zoufou commented on #365
it will be closed by a PR

[2015-12-27 11:18] farirat opened #368 "Config migration is buggy: Migrating ... from v0.8.10 to v0.8.10"
As reported by @majidkabir

[2015-12-27 13:29] zoufou commented on #367
From last commit (0fcbdee), performance has increased considerably, here's two different profiling graphs, before and after change:

![jasmin-cpickle](https://cloud.githubusercontent.com/assets/1020111/12010396/741fda9e-aca5-11e5-8cf2-31b1703d3583.png)
![jasmin-pickle](https://cloud.githubusercontent.com/assets/1020111/12010397/7424d5ee-aca5-11e5-99a6-708e0760affd.png)

[2015-12-27 14:16] majidkabir opened #369 "Error in jasmin (maybe about delivery)"
[code]
This error occured after some time from starting jasmin, this time is variable and i think its about delivery, But the important part of the problem is when this error occured it repeaded on all of messages and jasmin go down after while!
When I set the delivery level to 'teminal' it's occured!

**unknown delivery tag 267949**
When one time this error happend all unknown tag is the same in

[2015-12-27 14:41] zoufou commented on #369
is it an error  raised after an upgrade ? if yes, was the queue not empty when doing it ?

[2015-12-27 15:04] majidkabir commented on #369
No it's not after upgrade, I upgrade to 0.8.10 because of this error, after upgrade I delete all mnesia file in rabbitmq.

[2015-12-27 15:43] #367 closed

[2015-12-27 15:55] zoufou commented on #369
That error is cased by Jasmin wanting to ack a message that's no more in queue, maybe it's because it were already acked by Jasmin, or another third party app consuming the same queue (not recommended), so what's your case ?

1. Did you make any updates on Jasmin 0.8.10 codebase ?
2. Do you have another app consuming Jasmin's queues ?

[2015-12-27 16:09] majidkabir commented on #369
No, it's just jasmin, and sometimes it's occurred after one day working

[2015-12-27 16:12] zoufou commented on #369
Any elements to help me reproduce the issue ?

[2015-12-28 13:13] majidkabir commented on #369
After I set dlr_msg to 0 that error happend just in next two days and it never happened.
I think its about delivery message that SMSC send to jasmin.

[2015-12-28 14:55] majidkabir commented on #369
As Alessandro said in https://groups.google.com/forum/#!topic/jasmin-sms-gateway/PYT6rMfVEqY the cause of this error is stopping redis!
I checked it and it's right! I stoped redis and sent sms with jasmin, in first try jasmin return a success message with a UUID but after that all submit request getting this error!

But why my redis server is going down?!

[2015-12-30 22:17] farirat commented on #369
Bug reproduced, set for 0.9 release

[2015-12-30 22:56] farirat commented on #369
@majidkabir, you still need to know why redis has stopped ? any logs from redis ? or maybe a network issue ?

[2015-12-31 01:01] farirat opened #370 "Optimize dlr checking on redis when handling submit_sm_resp pdu"
when a submit_sm_resp pdu is received, Jasmin will go check on redis if there's a dlr waiting for it, it will check at first dlr for http, then if nothing, dlr for smpps api.

this behaviour can be tuned:

* Checking priority may be configured by end user, in many situations checking http dlrs at first is a waste of time, since jasmin is deployed for smpps api primarily
* Any way to know original

[2015-12-31 07:01] majidkabir commented on #369
It's not about redis, I checked the redis status after this bug happened again, and it's running!!
When I set delivery for submit_sm it's occurred after sometime

[2015-12-31 22:03] farirat commented on #369
@majidkabir, it may be a network disconnection, or any other reason that can cause redis client to disconnect, the redis-client.log will indicate that disconnection event.

[2016-01-02 13:36] majidkabir commented on #369
[code]
I saw this line in redis-client.log!

[2016-01-06 09:08] ghost opened #371 "[Failure instance: Traceback (failure with no frames): <class 'twisted.internet.error.ConnectionLost'>: Connection to the other side was lost in a non-clean fashion."
Hello team!

I've faced an issue while connecting to SMSC.

In  logs I can see [Failure instance: Traceback (failure with no frames): <class 'twisted.internet.error.ConnectionLost'>: Connection to the other side was lost in a non-clean fashion.

I've upgraded already txamqp as it was discussed but it didn't help me. So my SMPP connection is dropped at once after establishing.

OS Debian.

What sho

[2016-01-06 13:42] farirat commented on #371
Can you please provide pcap capture file ?

[2016-01-07 16:32] illuminate3 opened #372 "help: setting up 1st sms"
[code]

is giving me the error.

[code]

This is all supposed to be typed in on 1 line right?

Any ideas?

[2016-01-07 17:19] illuminate3 opened #373 "what is a Perspective broker?"
Does jasmin need special hardware to run outside of a server?

[2016-01-07 19:43] farirat commented on #373
What's running "outside of a server"  ? :)

[2016-01-07 19:45] farirat commented on #372
No, you type:

    type DefaultRoute
    connector smppc(someconnector)

[2016-01-07 20:20] illuminate3 commented on #373
sorry, besides a server.

Does the server need a modem card?

[2016-01-07 20:23] tarikogut commented on #373
where is terminate your smpp server ? GSM Modem ?

2016-01-07 22:20 GMT+02:00 illuminate3 <notifications@github.com>:

[2016-01-07 20:24] illuminate3 commented on #372
I'm on step 3 of the Sending your first SMS instructions.

[code]

How do you get the commands on separate lines?

[2016-01-07 20:33] farirat commented on #372
type 'enter' :)

[2016-01-07 20:34] illuminate3 commented on #373
Are you saying that I need hardware to use with jasmin?

[2016-01-07 20:36] illuminate3 commented on #372
[code]
hit "enter / return" key

Get error:
[code]

This is why I asked.

[2016-01-07 21:11] farirat commented on #372
ok i see, you need to understand the prompt, if you have **jcli :** then you only have access to toplevel modules (double type tabulation to see those modules).

for your case, you need to be already inside a module setup:

    mtrouter -a
    type DefaultRoute

[2016-01-07 21:32] illuminate3 commented on #372
that's what I got:

[code]

All on 1 line:

[code]

Thanks for hanging in here with me!

[2016-01-07 23:14] farirat commented on #372
No worries, type the followings line by line:

    mtrouter -a
    type defaultroute
    connector smppc(your_connector)
    rate 0
    ok

[2016-01-08 16:07] illuminate3 commented on #372
AH! got it!

I thought

[code]

was an error when it was just information.

Thanks!

[2016-01-08 16:07] #372 closed

[2016-01-08 16:11] farirat commented on #372
you're welcome !

[2016-01-14 18:14] neowisard opened #374 "Param NOTSET not workin properly"
Can't disable logging with NOTSET param. Level CRITICAL workin normally.

jasmin.cfg

// Specify the server verbosity level.
// This can be one of:
// NOTSET (disable logging)
log_level            = NOTSET
log_file            = /var/log/jasmin/main-smpp.log

after restart , in main-smpp.log

]
2016-01-12 09:26:05 WARNING  1 SMPP connection established from zzzzzzzzz to port 2775
2016-01-12 09:26:0

[2016-01-14 21:16] farirat commented on #374
It seems you are trying to disable logging for a *smpp client connector*, this is DONE through jcli by updating connector params.

[2016-01-14 21:16] #374 closed

[2016-01-17 23:44] farirat opened #375 "All DLRs are ignored for some unknown reason"
In v0.8 when pushing through smpp server at 50 MPS, it happens that dlrs are not matched when deliver_sm is received although the key in redis db already exist, but log is showing:

    INFO     31430 SMS-MT [cid:smpptest] [queue-msgid:a06440c7-c13f-4a72-9309-41576ea6ad42] [smpp-msgid:24] [status:ESME_ROK] [prio:0] [dlr:SMSC_DELIVERY_RECEIPT_REQUESTED] [validity:none] [from:john] [to:...] [content

[2016-01-19 12:33] bagherfathi commented on #375
hi fourat,
i found whats the problem.(ofcourse for one part sms)
you set dlr in redis as string, but get as numeric
for example you set 000024 as dlr msgid but you get 24 for dlr msgid then redis return null

for multi part message problem is more complicated!

[2016-01-19 13:02] farirat commented on #375
Hi @bagherfathi ! thank you for your help.

What version of Jasmin are you considering ? this issue is for 0.8.10

[2016-01-19 13:44] bagherfathi commented on #375
yes, my jasmin
version is 0.8.10

[2016-01-19 13:47] farirat commented on #375
Then your line numbers seems to mismatch here: https://github.com/jookies/jasmin/blob/master/jasmin/managers/listeners.py

[2016-01-19 13:47] greenx commented on #364
Then need remove it from the documentation.

[2016-01-19 13:50] bagherfathi commented on #375
excuse me , i added some break point to line, and line numbers changed

[2016-01-19 13:51] bagherfathi commented on #375
you can find
"hashKey = "queue-msgid:%s" % r.response.params['message_id']"
in listeners.py

[2016-01-19 13:53] bagherfathi commented on #375
correct line numbers is : 441 and 488

[2016-01-19 14:03] farirat commented on #375
Yes, this issue were fixed in 0.9, checkout this: #366

I'll port this fix back to 0.8, thank you @bagherfathi for pointing it !

[2016-01-21 02:47] raamtg opened #376 "Message keeps bouncing between user and SMPP Connector"
Hello,
I have been trying to debug an issue with 0.8.10 for the longest time now but cant get it to work.
Here is my set up:

jcli : user -l
#User id          Group id         Username         Balance MT SMS Throughput
#JamCollSMPP      JamCollGroup     JamCollSMPP      ND (!)  ND (!) ND/ND
#JCRS             JamCollGroup     JCRS             ND (!)  ND (!) ND/ND

jcli : mtrouter -l
#Order Type

[2016-01-25 15:21] xamaxmacko opened #379 "Using external AMQP Broker and Redis"
Hello!

We need to implement connection of Jasmin with remote AMQP and REDIS instead of ones installed locally on the same machine as Jasmin.

Is there any way to do that?

Thanks in advance.

[2016-01-25 15:31] pyghassen commented on #379
Hi there,

I thing you change that on the main config file and override Redis client
and set to your remote Redis server, the same for RabbitMQ.
On Jan 25, 2016 4:21 PM, "xamaxmacko" <notifications@github.com> wrote:

[2016-01-25 15:36] pyghassen commented on #379
@xamaxmacko check this file and you will understand what I mean.
https://github.com/jookies/jasmin/blob/master/misc/config/jasmin.cfg

[2016-01-25 15:36] farirat commented on #379
And to append on @pyghassen:

For redis: https://github.com/jookies/jasmin/blob/master/misc/config/jasmin.cfg#L460
For rabbit: https://github.com/jookies/jasmin/blob/master/misc/config/jasmin.cfg#L223

[2016-01-26 19:09] farirat opened #380 "Error when throwing a deliver_sm with message_payload instead of short_message parameter"
As reported by Florentino Congo:

    2016-01-26 11:26:29 DEBUG    12180 Got one message (msgid:1b58e607-bc7b-4153-b39a-deb7eb2a6b63) to throw: PDU [command: data_sm, sequence_number: 1, command_status: ESME_ROK
    service_type: ''
    source_addr_ton: EnumValue(<jasmin.vendor.enum.Enum object at 0x7f276742cc90>, 6, 'INTERNATIONAL')
    source_addr_npi: EnumValue(<jasmin.vendor.enum.Enum object a

[2016-01-26 20:01] farirat commented on #375
Issue still exists even in v0.8.11

[2016-01-27 03:31] farirat commented on #375
After some tests, it seems it happens that redis get a bit slow and when a dlr come in, it's key is not found in redis since it's being saved.

Redis may be tuned up for better performance, or maybe redis should be replaced by some better db.

[2016-01-27 03:31] #375 closed

[2016-01-27 16:51] farirat opened #381 "Provide valid json format in statsm module"
As requested by @raamtg [here](https://groups.google.com/forum/#!topic/jasmin-sms-gateway/8IM9IQXM2Ec).

[2016-01-27 23:56] farirat commented on #376
Hi,

I have 2 questions:

* Please repost your mt routing table with visible filters
* I dont see a route that can achieve the final step forwarding (JamCollSMPP -> MySMSCProvider), maybe you missed something while pasting here

[2016-01-28 12:19] raamtg commented on #376
Hi, that was the problem, thanks. I had planned it carefully but forgot to add the mtroute for that final leg. Once I added it, it started working :)

However, a suggestion for future considerations. If such a rule is missing where say a reseller forgets to add a route, there should be an internal 'route not found' or timeout at each leg of the transaction instead of bouncing back and forth and fi

[2016-01-30 02:07] #376 closed

[2016-01-30 16:13] farirat commented on #380
Issue still being reported for other parameters (like priority):

    2016-01-28 10:49:26 DEBUG    21702 Got one message (msgid:206e8e50-5feb-451a-ba49-0e7ab1d6cbfd) to throw: PDU [command: data_sm, sequence_number: 1, command_status: ESME_ROK
    service_type: ''
    source_addr_ton: EnumValue(<jasmin.vendor.enum.Enum object at 0x7f6830777950>, 6, 'INTERNATIONAL')
    source_addr_npi: EnumValue(<

[2016-01-31 00:44] #380 closed

[2016-02-02 21:06] farirat opened #386 "Show passwords in jcli configurable through jasmin.cfg"
By default, showing a user profile on jcli will display an empty password for security, make this behaviour configurable to enable showing passwords in jcli.

Apply this feature on smppcc password as well, since it's by default shown password.

[2016-02-04 21:02] farirat opened #387 "Receiving data_sm without priority_flag parameter will throw an exception"
This is the thrown exception in messages.log

    2016-02-03 09:57:12 CRITICAL 23024 Got an unknown exception: 'priority_flag'

[2016-02-04 23:26] raamtg opened #388 "HTTP Stats do not include some of the same things as SMPP Stats"
Hello, I noticed that the following features are in the  SMPP stats for a user, but not for the HTTP stats. Is this for a specific reason?

throttling_error_count

other_submit_error_count

submit_sm_count

deliver_sm_count

For example,  "other_submit_error_count" is there in SMPP. With HTTP, I can only see how many HTTP requests (submit_sm_request_count - HTTP API) were made, but not how many we

[2016-02-06 20:17] Ossipoff1290 commented on #91
Hello

Any Update on The web UI release date?

[2016-02-06 20:57] #387 closed

[2016-02-08 16:14] xamaxmacko opened #391 "Client IP parameter"
Hello, developers!
I've got a question.

What are mandatory parameters for SMPP client?
According to the docs they are only login/password.
Why IP address is not required? According to the SMPP protocol IP is a mandatory parameter.

[2016-02-08 18:30] raamtg commented on #391
Depends on what you are planning to do with smppc at the time of creation. To just create it, only cid is required. The rest will take defaults. however, to get it successfully working with minimal configurations, you will need to provide username, password, host, port and bind type (transceiver, receiver etc). Most, if not all the remaining defaults will work for any connection. The rest are mere

[2016-02-09 20:23] xamaxmacko commented on #391
These parameters are for the connections to SMSC only if I got this right. But I need to specify IP address for inbound connection, from ESME

[2016-02-09 22:51] raamtg commented on #391
This is not something that is supported by Jasmin. If this is a prod environment, you would have to use iptables or a firewall in front of Jasmin to manage this. However since Jasmin only has one port allocated per ESME (user) - 2775 by default, you cannot specify a source address restriction per ESME. It will more likely be a whitelist of IP addresses that can access Jasmin as a whole. Then you u

[2016-02-10 13:28] farirat opened #392 "General performance improvements"

[2016-02-11 06:48] zspine opened #393 "Forced routing"
We are using a custom java application as our SMS gateway and we are testing Jasmin with hopes to replace our custom SMS gateway. I would like to know if there is any way to force a connection to be used from application side instead of jasmin's routing system.

Example:

[code]

Thanks

[2016-02-11 14:00] farirat commented on #393
You can inject message directly to rabbitmq and bypass http api.

[2016-02-11 15:47] zspine commented on #393
@farirat Hi
Thank you very much for response and solution. Is there any documentation or any helpful resources to implement this with php (or any other language just for reference)?

[2016-02-11 16:04] mrluciusfox commented on #393
Hi @zspine ,
[Here](https://gist.github.com/farirat/efc604070f34ef699c8b) you'll find an example written in python to inject a deliver_sm directly to rabbitmq.
It was shared by @farirat some time ago.

[2016-02-11 16:06] zspine commented on #393
Hi @mrluciusfox
Thank you very much! very helpful!

[2016-02-12 08:37] neowisard opened #394 "Hardcode in /store/ path"
"Hardlink" in code , if i correcting path for save\load profiles to /etc/jasmin, (jasmin.cfg)
i got error

to reproduce:
change path to /etc/jasmin/store to /etc/jasmin
restart
connect to cli and load\save profiles  (load\persist)

[2016-02-12 09:46] farirat commented on #394
I dont really get you :)

[2016-02-12 23:31] mrluciusfox opened #395 "Send udh,pid,mclass and others params on http api"
Hi,
How can I send udh, pid and mclass parameters using the HTTP API? I can't see it in the documentation.
Thanks.

[2016-02-13 07:13] farirat commented on #395
These params are not exposed in the api, you can do it your own in jasmin.protocols.http.server

[2016-02-13 18:32] mrluciusfox commented on #395
Thanks!

[2016-02-13 18:32] #395 closed

[2016-02-13 18:43] mrluciusfox opened #396 "Black hole smpp server"
Hi,
Is there some way in Jasmin to simulate a SMSC with some configuration that send all MT to a black hole for testing? Like the fakesmsc module from Kannel.

[2016-02-13 18:56] farirat commented on #396
I usually put SMPPSim from logica as fake smsc on front of Jasmin.

Attached to this message already.

[SMPPSim.tgz](https://files.zenhub.io/56bf7c70f7471cd9688f3b7d)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-13 19:09] mrluciusfox commented on #396
Thanks a lot!

[2016-02-13 19:09] #396 closed

[2016-02-26 10:09] graemeglass opened #397 "PDUParseError: Unknown Error: Field must be null"
I am not sure if our providers SMSC is sending through the incorrect command id, or there is an issue here.

If I change the TimeEncoder for validity_period to requireNull=False, all works fine.
This bind works fine with kannel.

[2016-02-28 21:16] farirat commented on #397
Hi Graeme,

Please check the attached specs (page 80/table 4-18), where it says very clearly deliver_sm must not use validity_period and it must be set to null, Jasmin sticks to that specs, only if you help me decode the specs and find a standard way to do it.

Maybe your client ESME is using a specific smpp version ?

[SMPP_v3_4_Issue1_2.pdf](https://files.zenhub.io/56d3630dbbad9f607dd41c10)
Uplo

[2016-02-29 07:27] graemeglass commented on #397
Thanks for this.
I am going to chat to our provider to find out what version of smpp they are using and why they are sending us a validity_period on deliver_sm.

[2016-02-29 15:59] tewodrosa opened #399 "CRITICAL 560 Received unparsable PDU"
Hi All,

I get the following error when i receive incoming (MO) SMS. Please see log output below:

`2016-02-29 17:58:48 ERROR    560 Optional Parameter not allowed: Invalid option sc_interface_version
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/jasmin/vendor/smpp/twisted/protocol.py", line 195, in rawMessageReceived
    pdu = self.encoder.decode(StringIO.StringIO(me

[2016-02-29 16:17] farirat commented on #399
The error is self-explaining, the sc_interface_version is not supported within deliver_sm pdu, you can still add it into the pdu decoder if you are easy with python.

[2016-02-29 16:27] tewodrosa commented on #399
Hi, I am not that well versed with python, any pointer or guidance will be much appreciated.

[2016-02-29 19:04] tewodrosa commented on #399
Anyone?

[2016-03-01 20:57] #287 closed

[2016-03-01 20:57] #320 closed

[2016-03-01 20:57] #362 closed

[2016-03-01 20:57] #365 closed

[2016-03-01 20:57] #366 closed

[2016-03-01 20:57] #368 closed

[2016-03-01 20:57] #369 closed

[2016-03-01 20:57] #370 closed

[2016-03-01 20:57] #381 closed

[2016-03-09 14:46] neowisard commented on #394
This error in a docker with core 3.14,
Solution : update docker ).

[2016-03-09 14:46] #394 closed

[2016-03-13 11:54] farirat opened #403 "Adding balance or sms_count to a user having unlimited value will make jasmin crash"
Bug described here: https://groups.google.com/forum/#!topic/jasmin-sms-gateway/A1U-sk3DagU

[2016-03-13 11:54] farirat commented on #403
As a workaround:

- Set user's balance or sms_count to 0
- Add balance in a second step

[2016-03-13 14:33] astutesoftware opened #404 "telnet session for jcliadmin crashes"
Once the perspective broker api python script runs it does something to the user configuration
subsequently the telnet session when issued "user -l" or "user --list" terminates the telnet session.
this is happening only after the python script sample that creates the user ran.
and this is only happening with the user. other commands related to routes run well and the telnet session is maintained.

[2016-03-13 14:40] astutesoftware commented on #404
Here is what the jcli.log shows when the telnet session terminates

2016-03-13 14:38:15 INFO     16481 [sref:5] New session started for 27.106.103.119:62089
2016-03-13 14:38:15 INFO     16481 filter configuration loaded (default profile)
2016-03-13 14:38:15 INFO     16481 httpcc configuration loaded (default profile)
2016-03-13 14:38:25 INFO     16481 [sref:5] Session stopped (cannot concatenate '

[2016-03-13 14:52] farirat commented on #404
Please tell what you did in the pb script before that error showed.

[2016-03-13 15:38] astutesoftware commented on #404
i just ran it from the command line.

[2016-03-13 15:39] astutesoftware commented on #404
ok. let me try replicating this issue. how can i reset all jasmin configuration to default and start all over ?

[2016-03-13 15:40] farirat commented on #404
remove everything from /etc/jasmin/store/

[2016-03-13 15:49] astutesoftware commented on #404
umm.. that fixed the problem.
do you want me to run the python script again and see if it breaks it again?

[2016-03-13 15:50] farirat commented on #404
yes, and especially describe what your script is doing, and how ?

[2016-03-16 03:01] astutesoftware commented on #404
The script that corrupted the user object is the example given in the doc for perspective broker.

http://jasmin.readthedocs.org/en/latest/faq/developers.html#how-to-directly-access-the-perspective-broker-api
# Gist from https://gist.github.com/zoufou/922e1cb2c4782660c257
"""
An example of scenario with the following actions:
 1. Add and start a SMPP Client connector
 2. Provision a DefaultRoute t

[2016-03-16 03:08] astutesoftware opened #405 "SMPP DLR not sent"
On a standard installation with a standard user and connection (with basic information),
the sms is being delivered but the client who sends the sms over smpp does not receive a DLR from jasmin.

Upon further inspection we find that the KEYS are being stored in a different CASE in redis than what jasmin has in memory. Probably this causes it not to find the appropriate keys.

user dlr_level is def

[2016-03-16 11:57] farirat commented on #405
Which Jasmin version are you using ?

[2016-03-16 15:52] farirat commented on #404
Please update the following in (https://gist.github.com/farirat/922e1cb2c4782660c257):

- Ligne 18, remove SmppClientConnector
- Line 21, add: from jasmin.protocols.cli.smppccm import JCliSMPPClientConfig as SmppClientConnector

Please test and feedback

[2016-03-18 10:23] KumarDedhia commented on #405
Even i m facing the same issue.
I am using v0.9b0.
I found this error.
Thanks in advance.
![screenshot from 2016-03-18 15-36-23](https://cloud.githubusercontent.com/assets/17925214/13875010/4edc8432-ed21-11e5-84e4-e9d798330469.png)

[2016-03-18 10:40] KumarDedhia commented on #405
Even i am facing the same issue,
I m using v0.9b0
I found error in syslog.
![err](https://cloud.githubusercontent.com/assets/17925214/13875429/d29634ba-ed23-11e5-80e0-e920afd60f4f.PNG)

[2016-03-19 11:27] farirat commented on #405
Same issue is in 0.9b1 ?

[2016-03-19 12:47] farirat commented on #405
Issue reproduced in 0.9b0 and b1.

[2016-03-19 21:44] #403 closed

[2016-03-19 21:44] farirat commented on #405
Issue fixed, please upgrade to 0.9b2

[2016-03-21 07:05] KumarDedhia commented on #405
I have upgraded to v0.9b2.
but found the same error when requesting for dlr in case of smpp

[2016-03-21 08:35] farirat commented on #405
Can you please provide:

1. the steps to reproduce the issue,
2. the sms parameters (source/destination/content ...), a pdu dump will be helpful,
3. printscreen (again) of the error

[2016-03-21 09:23] KumarDedhia commented on #405
This issue is not seen when dlr is not requested.

messages.log
![messages log](https://cloud.githubusercontent.com/assets/17925214/13914438/5ebefad8-ef74-11e5-8284-2dda374d0f79.png)

default-smpps_01.log
![smpps_01 log](https://cloud.githubusercontent.com/assets/17925214/13914439/5ecd2202-ef74-11e5-8e47-72a58c7922a6.png)

error in syslog
![syslog log](https://cloud.githubusercontent.com/assets/17

[2016-03-21 09:28] KumarDedhia commented on #405
Also DLR is not mapped properly, and thrown with different Connector.
The line says:-- ##** code_dlr_msgid: 21015 coded is to 21015 instead of 5217(as found in redis).**
connector's dlr_msgid in jcli is set to 0

[2016-03-21 22:18] farirat opened #408 "Remove left zeros of msgid when receiving submit_sm_resp"

[2016-03-21 22:36] farirat commented on #405
I tried to reproduce your issue to get:

    struct.error: 'L' format requires

But with no success, is it possible to provide access to test node ? with possibility to reproduce the issue anytime ? if yes then please send credentials to support@jasminsms.com

As for the dlr coding, it's a separate issue, i've created #408 to track it in next minor version (0.9b3), but anyway, even if there were n

[2016-03-22 05:49] KumarDedhia commented on #405
I changed the working env, purged the apt-get installation and running the script directly,
now it seems to work without that issue.
Dlr from different connector might be, bcoz both the connectors are bound to same virtual SMSC for testing.
I am planning to change SMSC and give a try for dlr_msgid=1.
Thanks

[2016-03-22 08:34] farirat commented on #405
Great !

So going to re-close this issue and keep the #408 going.

[2016-03-22 08:34] #405 closed

[2016-03-26 23:27] shani01 opened #409 "RandomRoundrobin routing selects even an inactive SMPP connection"
Observed that RandomRoundrobinMTRoute selects an SMPP client connection that is not connected. I think it should check the connections that are available and select one of those. Tested in jasmin-0.9.2.

[2016-03-27 21:13] farirat commented on #409
The RR mt route behaves just like static mt route when it comes to routing when connector is offline.

[2016-03-28 08:27] shani01 commented on #409
Thanks for the info. I think it will be good to have this feature for load balancing+redundancy towards SMSCs.

[2016-03-28 08:41] farirat commented on #409
In this case, what will be the decision if all of the sub routes are offline ?

[2016-03-28 09:00] shani01 commented on #409
Two options; either reject with an error or store & retry after the configured interval in jasmin.cfg (error code to be defined as well). I am not sure about how to achieve the 2nd option since it looks like we store the message with the DC that has been decided in the routing.

[2016-04-01 05:27] KumarDedhia opened #410 "Billing in case of long msgs from smpp"
Hey,
when I send long msg from my smpp client, Jasmin is charging for one msg instead for multiple msgs.
http works fine.
I went through the code but didnt find any logic for determining long msgs.
Is it smpp client that shld split and send, or is yet to implement?
I'm using v0.9b2
Thanks

[2016-04-01 05:37] KumarDedhia opened #411 "Performance on multiple processes"
How are your plans to implement multiple processes in jasmin.
For consumer and publisher creating sub process work? and How?
Thanks

[2016-04-01 08:41] farirat commented on #411
This is planned for current 0.9 release, each client connector will be spread as a standalone process in order to profit from multicore cpu, same thing for smpp server, there will be a load balancer to spread inbound connections on multiple servers.

[2016-04-01 08:41] #411 closed

[2016-04-01 08:43] farirat commented on #410
Do you mean long message content within one unique pdu ? if yes, then that's logic, jasmin is charging on pdu count basis, if you send 2 pdus you get charged for 2 pdus, even if they are multipart (linked to each other), but if you send more than 160 chars in one pdu, jasmin will let you go with charging once only.

[2016-04-01 09:32] #410 closed

[2016-04-03 05:22] sah-anshu opened #412 "ImportError: No module named web"
Hi I was not able to start jasmin from normal installation. After running it directly i am getting the below error about  missing web module.

please advice.

root@chd-ltsp1:/home/anshu/jasmin# jasmind.py --username jcliadmin --password jclipwd
Traceback (most recent call last):
  File "/usr/local/bin/jasmind.py", line 4, in <module>
    __import__('pkg_resources').run_script('jasmin==0.9b2', 'jas

[2016-04-03 05:25] sah-anshu commented on #412
Platform : Ubuntu 14.04.3 LTS /Python 2.7.6 /pip 8.1.1

[2016-04-03 08:19] farirat commented on #412
From the docs the deb packaging is only available for 15.04 and higher, you should use pypi installation instead on any other platform.

[2016-04-03 08:19] #412 closed

[2016-04-04 18:40] nenad007 opened #413 "Parlay X Protocol"
Is there a plan to add ParlayX as Connector?

[2016-04-07 10:42] sah-anshu commented on #133
Shimply mail

                img{ display:block; }
                #outlook a{ padding:0; }
                body{ width:100% !important; }
                body{ margin:0; padding:0; }
                img{ border:none; outline:none; text-decoration:none; }
                body{ background-repeat:repeat; background-position:top left; }
                #container{ background-repeat:repeat; backgroun

[2016-04-10 14:08] sanjubd opened #414 "Concatenated sms fail"
Hi,

I am trying to send long sms using http api :http://192.168.100.1:1401/send?username=sanjud&password=sanjujj)&to=01735105325&content=%E0%A6%87%E0%A6%82%E0%A6%B2%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%A8%E0%A7%8D%E0%A6%A1%20%E0%A6%9C%E0%A6%BE%E0%A6%A4%E0%A7%80%E0%A7%9F%20%E0%A6%A6%E0%A6%B2%E0%A7%87%E0%A6%B0%20%E0%A6%8F%20%E0%A6%95%E0%A7%8D%E0%A6%B0%E0%A6%BF%E0%A6
At browser i see: Success "bd8eb0f9-